.u-btn-main {
  display: inline-block;
  transition: all 0.4s ease;
  border-radius: 28px;
  background-color: $btn-color;
  cursor: pointer;
  padding: 17px 98px;
  text-transform: uppercase;
  color: $color-white;
  user-select: none;

  span {
    display: block;
    transition: all 0.4s ease;
    line-height: 22px;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 18px;
    font-weight: 600;
  }

  &:hover {
    box-shadow: 0 14px 28px $btn-shadow, 0 10px 10px $btn-shadow;

    span {
      transform: scale(1.1);
      text-shadow: 2px 2px 0 $btn-shadow;

      &:focus {
        outline: none;
      }
    }
  }

  &:focus {
    outline: none;
  }

  @include mq('phone') {
    display: block;
    padding: 17px 0;
    width: 100%;
    text-align: center;
  }
}
