.u-secondary-heading {
  line-height: 80px;
  color: $color-white;
  font-family: 'Chocolate cyr-lat';
  font-size: 44px;

  @include mq('tablet-medium') {
    line-height: 73px;
    font-size: 40px;
  }

  @include mq('phone-large') {
    line-height: 55px;
    font-size: 32px;
  }
}
