.u-subtitle {
  line-height: 60px;
  color: $color-white;
  font-family: 'Chocolate cyr-lat';
  font-size: 30px;

  @include mq('tablet-medium') {
    text-align: center;
    line-height: 55px;
    font-size: 28px;
  }

  @include mq('phone-large') {
    line-height: 45px;
    font-size: 25px;
  }
}
