* {
  outline: none;
  // &:focus {
  //   outline: none;
  // }
}

.u-wrapper {
  margin: 0 auto;
  padding: 0 80px;
  width: 1600px;
  @include mq('desktop-large') {
    width: 100%;
    // max-width: 1600px;
  }
  @include mq('tablet') {
    padding: 0 15px;
  }
}


// .u-wrapper {
//   margin: 0 auto;
//   padding: 204px 80px 0;
//   width: 1600px;
//   @include mq('desctop-large') {
//     width: 100%;
//   }

//   @include mq('tablet-medium') {
//     padding: 140px 30px 0;
//   }

//   @include mq('phone-medium') {
//     padding: 140px 15px 0;
//   }
// }
