.c-arrows {
  display: flex;
  position: absolute;
  top: 30px;
  right: 15px;

  @include mq('tablet') {
    display: none;
  }

  &__prev,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-radius: 4px;
    background-color: $color-white;
    cursor: pointer;
    padding: 6px 10px;
  }

  &__next {
    margin-right: 0;
  }

  &__svg {
    fill: $arrows-color;
  }
}
