.c-article {
  margin-bottom: 20px;
  border-bottom: 1px solid $white-opacity;
  padding-bottom: 20px;
  color: $color-white;
  font-family: Century Gothic;

  &:last-child {
    border-bottom: 0;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;

    @include mq('phone-wide') {
      margin-bottom: 15px;
    }
  }

  &__title {
    padding-left: 22px;

    @include mq('phone-wide') {
      padding-left: 15px;
    }

    h2 {
      margin-bottom: 10px;
      line-height: 100%;
      font-size: 24px;

      @include mq('phone-wide') {
        font-size: 19px;
      }
    }

    a {
      line-height: 24px;
      font-size: 18px;

      @include mq('phone-wide') {
        font-size: 14px;
      }
    }
  }

  &__text {
    line-height: 24px;
    font-size: 18px;

    @include mq('phone-wide') {
      font-size: 14px;
    }
  }

  &__svg {

    svg {
      @include mq('phone-wide') {
        width: 30px;
        height: 35px;
      }
    }
  }
}
