.c-blog-card {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  height: 100%;
  text-align: left;

  &__photo {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px;

    @include mq('phone-large') {
      padding: 20px 21px 33px;
    }
  }

  &__title {
    margin-bottom: 20px;
    line-height: 26px;
    color: $color-black;
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: bold;
  }

  &__text {
    flex-grow: 1;
    margin-bottom: 30px;
    line-height: 26px;
    color: $color-black;
    font-family: Century Gothic;
    font-size: 16px;
  }

  .u-btn-main {
    display: block;
    padding: 8px 0;
    text-align: center;

    @include mq('tablet-medium') {
      padding: 9px 0 !important;
      width: 100%;
    }

    // @include mq('phone-large') {
    //   padding: 9px 72px !important;
    // }

    span {
      font-size: 14px;
    }
  }
}
