.c-comet {
  position: absolute;
  top: -250px;
  left: 0;
  transform: scale(0.8);
  transition: all 1.7s ease-in-out;
  z-index: z('comet');

  &.is-animate {
    top: 100vh;
    transform: scale(1.2);
  }
}
