// sass-lint:disable nesting-depth
.c-contact-form {
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
  margin: 0 auto;
  border-radius: 20px;
  background-color: $color-white;
  padding: 30px 20px;
  max-width: 600px;

  &.is-sending {
    position: relative;
    opacity: 0.99;
    filter: blur(3px);

    &:after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      cursor: wait;
      content: '';
    }
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
    line-height: 66px;
    color: $testimonials-card-color;
    font-family: 'Chocolate cyr-lat';
    font-size: 36px;

    @include mq('phone') {
      margin-bottom: 25px;
      line-height: 48px;
      font-size: 26px;
    }
  }

  &__inputwrapper {
    position: relative;
    width: 48%;

    @include mq('tablet') {
      width: 100%;
    }
  }

  &__inputwrappercheck {
    position: relative;
    width: auto;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    @include mq('tablet') {
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    &.is-up {
      align-items: flex-start;
    }

    input {
      outline: none;
      border: 1px solid $arrows-color;
      border-radius: 28px;
      background: $color-white;
      padding: 20px 28px;
      width: 100%;
      height: 60px;

      @include mq('tablet') {
        margin-bottom: 16px;
        width: 100%;
        height: 40px;
        padding: 0 24px;
      }

      &[type=checkbox] {
        outline: none;
        border-radius: 2px;
        background-color: $color-white;
        padding: 0;
        width: 20px;
        height: 20px;
        appearance: none;
        flex-shrink: 1;

        &:checked {
          background-image: url('../images/check-yellow.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 70%;
        }
      }
    }

    label {
      cursor: pointer;
      max-width: 93%;
      line-height: 20px;
      color: $testimonials-card-color;
      font-family: Montserrat;
      font-size: 16px;

      @include mq('phablet') {
        max-width: 90%;
      }

      @include mq('phone') {
        max-width: 87%;
      }
    }

    .u-select {
      position: relative;
      width: 48%;

      @include mq('tablet') {
        width: 100%;
      }

      &:after {
        position: absolute;
        top: 20px;
        right: 30px;
        transform: rotate(45deg);
        z-index: 1;
        border-radius: 3px;
        background-color: $arrows-color;
        width: 12px;
        height: 12px;
        content: '';

        @include mq('tablet') {
          top: 12px;
        }
      }

      &:before {
        position: absolute;
        top: 13px;
        right: 28px;
        z-index: 2;
        background-color: $color-white;
        width: 15px;
        height: 12px;
        content: '';

        @include mq('tablet') {
          top: 6px;
        }
      }

      select {
        position: relative;
        outline: none;
        border: 1px solid $arrows-color;
        border-radius: 28px;
        background: $color-white;
        padding: 20px 28px;
        width: 100%;
        appearance: none;

        @include mq('tablet') {
          margin-bottom: 20px;
          width: 100%;
          padding: 11px 28px;
          height: 40px;
        }

        &.error {
          border: 1px solid $youtube-color;
        }
      }
    }
  }

  &__mono {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 25px;
    border: 1px solid $arrows-color;
    border-radius: 28px;
    background-color: $arrows-color;

    @include mq('tablet') {
      border-radius: 10px;
    }

    @include mq('tablet') {
      &:nth-child(5) {
        border-radius: 15px;

        input[type=text] {
          border-top-right-radius: 14px;
          border-bottom-right-radius: 14px;
        }
      }
    }

    input[type=checkbox] {
      flex: 0 0 22px;
      margin: 0 15px 0 25px;
      outline: none;
      background-color: $color-white;
      height: 22px;
      appearance: none;

      &:checked {
        background-image: url('../images/check.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
      }
    }

    textarea {
      border-top-left-radius: 27px;
      border-bottom-left-radius: 27px;

      @include mq('tablet') {
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        height: 90px;
      }
    }

    input[type=text] {
      border-top-right-radius: 27px;
      border-bottom-right-radius: 27px;
    }

    textarea,
    input[type=text] {
      outline: none;
      border: 0;
      background: $color-white;
      padding: 20px 16px;
      width: 100%;

      @include mq('tablet') {
        padding: 11px 16px;
      }
    }

    input[type=file] {
      position: absolute;
      opacity: 0;
      z-index: -1;
      width: 0.1px;
      height: 0.1px;
      overflow: hidden;

      & + label {
        margin: 0 20px;
        cursor: pointer;
        text-align: center;
        line-height: 15px;
        color: $color-white;
        font-family: Century Gothic;
        font-size: 12px;

        svg {
          display: block;
          margin: 0 auto;
          fill: $color-white;
        }
      }
    }
  }

  &__files {
    display: flex;
    flex-wrap: wrap;

    &-item {
      display: flex;
      align-items: center;
      margin-top: -12px;
      margin-bottom: 15px;
      margin-left: 10px;
      border-radius: 28px;
      background-color: $arrows-color;
      padding: 5px 10px;

      span {
        display: block;
        margin-right: 15px;
        color: $color-white;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  &__errorwrap {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    text-align: center;
    color: $youtube-color;
    font-size: 13px;
  }

  &__icon-delete {
    cursor: pointer;
    fill: $color-white;
  }

  .u-btn-main {
    margin: 0 auto;

    @include mq('tablet') {
      margin-top: 30px;
      width: 100%;
      text-align: center;
    }
  }

  .error {
    border: 1px solid $youtube-color;
  }

  label {

    &.error {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      border: 0;
      cursor: auto;
      text-align: center;
      color: $youtube-color;
      font-size: 13px;
    }
  }
}
