.c-dots-block {
  position: relative;
  height: 20px;

  ul {
    display: flex;
    position: relative;
    bottom: 0;
    align-items: center;
    justify-content: center;

  }

  li {
    border-radius: 100%;

    &.slick-active,
    &:hover {
      background-color: $color-white;

      @include mq('phone-large') {

        .c-dots-block__dot {
          border: 1px solid $btn-color;
          background-color: $btn-color;
        }
      }
    }
  }

  &__dot {
    display: block;
    transition: all 0.5s ease;
    margin-right: 16px;
    border: 1px solid $color-white;
    border-radius: 100%;
    width: 20px;
    height: 20px;

    &:last-child {
      margin-right: 0;
    }

    @include mq('phone-large') {
      border: 1px solid $dots-color;
      background-color: $dots-color;
    }


  }
}
