.c-nav-links {
  border-bottom: 1px solid $footer-separator;
  padding: 50px 0;
  color: $color-white;
  user-select: none;

  .u-col {
    @include mq('tablet-wide') {
      margin-bottom: 35px;
    }

    @include mq('phone-large') {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 17px;
    line-height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    @include mq('tablet') {
      margin: 0 auto;
      margin-bottom: 17px;
      max-width: 300px;
      text-align: left;
    }
    @include mq('phone-large') {
      max-width: none;
    }
  }

  &__items {
    padding: 8px 0;
    line-height: 20px;
    font-family: Century Gothic;
    font-size: 14px;
    @include mq('tablet') {
      margin: 0 auto;
      max-width: 300px;
      text-align: left;
    }
    @include mq('phone-large') {
      max-width: none;
    }
  }
}
