.c-social {
  border-bottom: 1px solid $footer-separator;
  padding: 37px 0 0;
  color: $color-white;

  &.is-centered {
    .c-social__item {
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    word-break: break-word;

    & > a {
      margin: 0 7px;
    }
  }

  &__text {
    padding: 3px 0;
    line-height: 20px;
    font-family: Century Gothic;
    font-size: 16px;
  }

  &__svg {
    margin-right: 13px;
  }


  @include mq('desktop') {
    &__item {
      justify-content: center;
    }
  }

  @include mq('tablet') {
    &__item {
      justify-content: flex-start;
      margin-left: 0;
    }

    .u-col {

      &:first-child {
        .c-social__item {
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }

  @include mq('phone-large') {
    padding: 30px 0 15px;

    &__item {

      & > a {
        margin-right: 15px;
        margin-left: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .u-col {

      &:first-child {
        .c-social__item {
          justify-content: flex-start;


        }
      }
    }
  }
}
