.c-footer {
  background: $main-color;

  svg {
    margin-top: 6px;
    fill: $color-white;
  }

  &__doc {
    padding: 20px 0;

    a {
      display: block;
      text-align: center;
      line-height: 17px;
      color: $color-white;
      font-family: Century Gothic;
      font-size: 14px;

      @include mq('phone-large') {
        padding: 6px 0;
      }
    }
  }

  &__copyright {
    background-color: $dark-blue;
    padding: 17px 0;
    text-align: center;
    line-height: 17px;
    color: $copyright-color;
    font-family: Century Gothic;
    font-size: 14px;
  }

  .c-social-bar {
    display: none;
  }

  .c-header__item {
    display: none;
  }
}
