$background: #e7e7e7;
$progress: #00bab4;
$font: #fff;

.c-graph {
  position: relative;
  background: $background;
  width: 100%;
  max-width: 216px;
  height: 185px;
  color: $font;

  &__progress {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: $progress;
    min-height: 51%;
  }

  &__percent {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
  }

  &__icons {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: $background;
    min-height: 60px;
    max-height: 100px;

    & > * {
      margin: 0 3px;
    }
  }
}
