.c-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 17px;
  color: $color-white;
  font-family: Century Gothic;
  font-size: 14px;

  &__info {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 102;
    background-color: $main-opacity-color;
    padding: 7px 0;

    .u-col {
      display: none;
    }

    .widgettitle {
      display: none;
    }
  }

  &__main {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 100;
    background-color: $header-blue;
    padding-top: 7px;
  }

  &__item {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;


  }

  &__writeus {
    order: 3;
  }

  .u-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .u-btn-main {
    padding: 12px 59px;
  }

  .c-menu {
    order: 2;
  }

  .c-social-bar {
    display: none;
  }

  .wpml-ls-legacy-dropdown {
    display: inline-block;
    width: auto;
  }

  .wpml-ls-sub-menu {
    padding-top: 10px;
  }

  .wpml-ls {

    li {

      a {
        border: 0;
        background: transparent !important;
        text-transform: uppercase;
        color: $color-white;
        font-weight: bold;
      }

      a:hover {
        color: $color-white;
      }

      ul {
        border: 0;
        background: $main-opacity-color !important;

        li:hover {
          background: $main-opacity-color !important;
        }
      }

      &:hover {

        a {
          color: $color-white;
        }
      }

      &:hover {
        background: $main-opacity-color !important;
      }
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $main-opacity-color;
    padding: 15px 60px 15px 30px;

    &.is-active {
      display: flex;
      white-space: nowrap;

      a {
        display: block;
        margin: 4px;
        font-weight: bold;
      }
    }

    &:after {
      position: absolute;
      top: -13px;
      left: 20px;
      border-right: 8px solid transparent;
      border-bottom: 13px solid $main-opacity-color;
      border-left: 8px solid transparent;
      content: '';
    }

    @include mq('tablet-small') {
      left: -10px;
      padding: 15px 35px 15px 15px;
      min-width: 210px;

      &:after {
        left: 10px;
      }

      &.is-active {
        white-space: unset;
      }
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;

    @include mq('tablet-small') {
      width: 15px;
      height: 15px;
    }
  }

  &__svg {
    margin-right: 7px;
  }

  &__caret {
    margin-left: 7px;
  }

  &__logo {
    order: 1;
    margin-right: 25px;
    padding: 20px 0;

    img {
      max-width: 100%;
    }
  }

  svg {
    fill: $color-white;
  }

  @include mq('desktop-large') {


    &__logo {
      padding: 15px 0;

      img {
        height: 40px;
      }
    }

    .u-btn-main {
      padding: 10px 50px;
    }

    .c-main-nav__item {
      line-height: 50px;
      font-size: 15px;
    }
  }

  @include mq('desktop-wide') {

    .u-btn-main {
      padding: 10px 14px;
      span {
        font-size: 14px;
      }
    }

    &__logo {

      img {
        height: 35px;
      }
    }

    .c-main-nav__item {
      font-size: 13px;
      line-height: 27px;
      padding: 10px 6px;
    }
  }

  @include mq('tablet-medium') {
    .u-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .c-menu {
      width: auto;
    }
  }

  @include mq('desktop') {

    &__info {
      .u-wrapper {
        padding: 0 15px;
      }
    }

    &__main {
      .u-wrapper {
        padding: 0 15px;
      }
    }
  }

  @include mq('tablet-wide') {
    &__item {
      span,
      a {
        display: none;
      }
    }

    &__svg {
      width: 20px !important;
      height: 20px !important;
    }

    &__caret {
      display: none;
    }

    .searchform {
      input {
        display: none;
      }

      button {
        position: relative;
        top: 0;
        right: 0;
        transform: translateY(0);
      }
    }
  }
}
