.c-form {
  display: flex;
  position: relative;
  align-items: center;
  transition: all 0.4s ease;
  width: 500px;

  @include mq('phone-large') {
    flex-direction: column;
    width: auto;
  }

  input {
    outline: 0;
    border: 1px solid $color-white;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    background-color: $color-white;
    padding: 17px 20px 17px 40px;
    width: 100%;
    line-height: 20px;
    color: $color-grey;
    font-family: Century Gothic;
    font-size: 16px;
    box-sizing: border-box;

    @include mq('phone-large') {
      padding: 17px 20px 17px 20px;
      margin-bottom: 15px;
      border-top-right-radius: 28px;
      border-bottom-right-radius: 28px;
      text-align: center;
    }
  }

  .u-btn-main {
    border-top-left-radius: 0;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 28px;
    padding: 18px 43px;

    @include mq('phone-large') {
      border-top-left-radius: 28px;
      border-bottom-left-radius: 28px;
      width: 100%;
      text-align: center;
    }

    span {
      line-height: 20px;
      font-family: Century Gothic;
      font-size: 16px;
    }

    &:hover {
      box-shadow: none;
    }
  }

  .error {
    border: 1px solid $youtube-color;
  }

  label {

    &.error {
      position: absolute;
      top: 100%;
      margin-top: 10px;
      border: 0;
      padding-left: 39px;
      color: $youtube-color;
      font-size: 13px;
    }
  }
}
