.c-main-nav {
  display: flex;
  text-align: center;

  &__item {
    padding: 10px 7px;
    text-transform: uppercase;
    line-height: 82px;
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 600;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &.is-active {
      transition: all 0.3s ease;

      &:after {
        position: absolute;
        bottom: 0;
        margin-left: -22px;
        border: solid transparent;
        border-width: 13px;
        border-bottom-color: $main-opacity-color;
        width: 0;
        height: 0;
        content: '';
      }

      .c-main-subnav {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }

    @include mq('tablet-medium') {
      margin-right: 0;
    }
  }

  .c-main-subnav {
    position: absolute;
    top: 100%;
    z-index: 10;
    border-bottom: 5px solid $btn-color;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: $main-opacity-color;
    //padding: 0 20px;
    text-align: left;
    padding-top: 18px;
    @include mq('desktop') {
      right: 0;
      left: 0;
      border: none;
      //padding: 20px 27px 13px;
    }
  }

  .c-sub-menu-2 {
    display: block;
    position: relative;
    width: 100%;
    @include mq('tablet-medium') {
      background-color: transparent;
    }

    li {

      &:hover {
        background-color: $main-dark-opacity-color;
        @include mq('tablet-medium') {
          background-color: transparent;
        }
      }
    }
  }

  .c-sub-menu-3 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    border-bottom: 5px solid $btn-color;
    background-color: $main-dark-opacity-color;
    padding-top: 18px;
    width: 100%;
    @include mq('tablet-medium') {
      background-color: transparent;
    }
  }

  .c-sub-menu-4 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    border-bottom: 5px solid $btn-color;
    background-color: $main-opacity-color;
    padding-top: 18px;
    width: 100%;
    @include mq('tablet-medium') {
      background-color: transparent;
    }
  }

  &__caret {
    transition: all 0.4s ease;
    margin-left: 7px;
    fill: $color-white;
  }
}

.u-sub-menu {
  li {
    display: block;
    padding: 10px 20px;
    max-height: 100%;
    text-transform: initial;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
  }

  .c-item-3:hover {
    background-color: $menu-dark-color;
    @include mq('tablet-medium') {
      background-color: transparent;
    }
  }

  .c-item-4:hover {
    background-color: $main-dark-opacity-color;
    @include mq('tablet-medium') {
      background-color: transparent;
    }
  }
}

.c-main-subnav {
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;

  .c-item-2 {

    &.is-active .c-sub-menu-3 {
      display: inline-block;
    }
  }

  .c-item-3 {

    &:hover {

      .c-sub-menu-4 {
        display: inline-block;
      }
    }
  }
}
