.c-menu {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: center;

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    justify-content: center;
  }

  .u-btn-main {
    padding: 13px 65px;
  }

  // @include mq('desktop-wide') {
  //   &__nav {
  //     justify-content: flex-start;
  //   }
  // }

  @include mq('desktop') {
    flex-grow: unset;
  }

  @include mq('tablet-medium') {
    flex-grow: 0;
  }

  @include mq('phone-large') {
    &__hamburger {
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
