.c-person {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  background: url('../images/testimonials-card-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 104px;

  &__photo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 2px solid $btn-color;
    border-radius: 100%;
    background-color: $color-white;
    width: 60px;
    height: 60px;
  }

  &__name {
    margin-top: 9px;
    margin-bottom: 17px;
    line-height: 20px;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: bold;
  }

  &__svg {
    margin-bottom: -2px;
    fill: $testimonials-card-bg;
  }
}
