.c-post-faq {

  &__title {
    text-align: center;
    line-height: 73px;
    font-family: 'Chocolate cyr-lat';
    font-size: 40px;
  }

  &__item {
    margin-bottom: 30px;
    line-height: 26px;
    font-family: Century Gothic;
    font-size: 16px;
  }

  &__heading {
    position: relative;
    border-radius: 50px;
    box-shadow: $default-box-shadow;
    background: $main-color;
    cursor: pointer;
    padding: 17px 45px 17px 30px;

    &:after {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      margin-left: 5px;
      color: $btn-color;
      font-size: 34px;
      font-weight: normal;
      content: '\002B';
    }

    &.is-active {

      &:after {
        content: '\2212';
      }
    }
  }

  &__text {
    display: none;
    padding: 30px 50px;
  }

  @include mq('phone-wide') {
    &__heading {
      padding: 13px 45px 13px 24px;
      font-size: 15px;
    }

    &__text {
      padding: 15px 25px;
    }
  }
}
