.c-post-content {
  position: relative;

  .is-dark {
    position: relative;
    margin-right: -30px;
    margin-left: -30px;
    background-color: $main-color;
    padding-top: 55px;
    padding-bottom: 70px;
    height: 100%;
    text-align: center;

    h2 {
      line-height: 73px;
      font-family: 'Chocolate cyr-lat';
      font-size: 40px;
    }
  }

  &__content {
    text-align: justify;
    line-height: 130%;
    font-family: Century Gothic;
    font-size: 18px;
    counter-reset: myCounter;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 700px;

    img {
      max-width: 100%;
    }
  }

  &__button {
    padding: 0 15px;
  }

  ol {
    margin: 0 !important;

    li {
      position: relative;
      margin-bottom: 15px;
      padding-left: 95px !important;
      list-style: none;

      &:after {
        position: absolute;
        top: 5px;
        left: 0;
        border-radius: 100%;
        background: $btn-color;
        width: 58px;
        height: 58px;
        text-align: center;
        line-height: 58px;
        color: $color-white;
        font-size: 30px;
        font-weight: bold;
        content: counter(myCounter);
        counter-increment: myCounter;
      }
    }
  }

  .u-btn-main {
    padding: 17px 55px;
  }

  @include mq('desktop-wide') {
    &__image {
      max-width: 100%;
    }
  }

  @include mq('tablet-medium') {
    .is-dark {
      margin-right: -15px;
      margin-left: -15px;
      padding: 20px 0 40px;

      h2 {
        text-align: center;
        line-height: 130%;
        font-size: 34px;
      }
    }

    &__image {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
    }
  }
  @include mq('phone-wide') {
    ol {
      li {
        padding-left: 55px !important;
        line-height: 120%;
        font-size: 15px !important;

        &:after {
          top: 10px;
          width: 38px;
          height: 38px;
          line-height: 38px;
          font-size: 22px;

        }
      }
    }

    .u-btn-main {
      padding: 15px 30px;
    }
  }
}
