.c-qoute {
  align-self: flex-end;

  &__text {
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 0 4px 4px $btn-shadow;
    line-height: 29px;
    color: $btn-color;
    font-family: Century Gothic;
    font-size: 24px;
  }

  &__author {
    text-align: center;
    text-shadow: 0 4px 4px $btn-shadow;
    line-height: 22px;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 18px;
  }

  @include mq('tablet-medium') {
    margin: 25px auto;
    max-width: 80%;
  }

  @include mq('phone-large') {
    max-width: 100%;
  }
}
