.searchform {
  display: block;
  position: relative;

  input {
    @include input-placeholder {
      color: $color-white;
    }
    outline: none;
    border: 0;
    border-radius: 17px;
    background: $header-blue;
    padding: 8px 40px 8px 26px;
    width: 100%;
    line-height: 17px;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 14px;
  }

  button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: $color-white;
  }
}
