.c-services-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;
  padding: 24px 30px 73px;
  height: 100%;

  &__title {
    margin-bottom: 12px;
    text-align: center;
    line-height: 24px;
    color: $main-color;
    font-family: 'Century Gothic';
    font-size: 20px;
    font-weight: bold;
  }

  &__text {

    margin-bottom: 20px;
    text-align: center;
    line-height: 24px;
    color: $card-grey;
    font-family: 'Century Gothic';
    font-size: 17px;
  }

  &__more {
    margin-top: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__link {
    margin-right: 5px;
    color: $main-color;
    font-family: 'Century Gothic';
    font-size: 14px;
  }

  &__svg {
    fill: $main-color;
  }

  &__img {
    display: block;
    margin-bottom: 24px;
    width: 100%;
  }

  &__bg {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
