.c-social-bar {
  display: flex;
  position: fixed;
  top: 50%;
  right: 0;
  flex-direction: column;
  z-index: 10;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 4px $social-bar-shadow-color;
  background-color: $color-white;
  padding: 10px;

  a {
    margin-bottom: 10px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__facebook {
    fill: $facebook-color !important;
  }

  &__youtube {
    fill: $youtube-color !important;
  }

  &__skype {
    fill: $skype-color !important;
  }

  &__linkedIn {
    fill: $color-white !important;
  }

  @include mq('tablet') {
    display: none !important;
  }
}
