.c-testimonials-card {
  position: relative;
  border-radius: 10px;
  background-color: $color-white;
  padding: 60px 20px 95px;
  width: 328px;
  max-width: 100%;
  min-height: 450px;
  overflow: hidden;

  @include mq('desktop') {
    margin: 0 auto;
  }

  &::before {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 46px;
    height: 42px;
    content: url('../images/quots.png');
  }

  &__text {
    margin-bottom: 10px;
    text-align: left;
    line-height: 22px;
    color: $testimonials-card-color;
    font-size: 14px;
  }

  iframe {
    width: 100% !important;
  }

  @include mq('phone-wide') {
    width: 280px;
  }
}
