/*
  div:after {
    @include pseudo;
    top: -1rem; left: -1rem;
    width: 1rem; height: 1rem;
  }
*/
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  display: $display;
  position: $pos;
  content: $content;
}
