.p-archive {
  @include layout-paddings;
  color: $white;

  // .c-arrows {
  //   right: 5px;
  // }

  .slick-track {
    display: flex;
    align-items: stretch;
  }
  .slick-slide {
    height: auto;

    &>div {
      height: 100%;
    }
  }
}
