.p-error {
  padding-bottom: 0;

  .p-search__nofound {
    padding-top: 200px;
    padding-bottom: 150px;

    img {
      top: -100px;
    }
  }

  &__error {
    position: relative;
    z-index: 2;
    text-align: center;



    p {
      margin-top: 20px;
      margin-bottom: 35px;
    }

    .u-btn-main {
      padding: 17px 54px;
    }
  }

  &__numb {
    display: inline-block;
    position: relative;
    width: 165px;
    line-height: 240px;
    color: $color-white;
    font-family: 'Chocolate cyr-lat';
    font-size: 200px;

    &:nth-child(1) {
      transform: rotate(-15deg);
    }

    &:nth-child(2) {
      bottom: 15px;
    }

    &:nth-child(3) {
      transform: rotate(25deg);
    }
  }

  @include mq('tablet-small') {
    &__numb {
      width: 90px;
      line-height: 140px;
      font-size: 100px;
    }
  }

  @include mq('phone') {
    &__numb {
      width: 75px;
      font-size: 80px;
    }
  }
}
