.p-page {
  position: relative;
  padding: 200px 0px 30px;
  color: $color-white;
  font-family: Century Gothic;

  .ggskin_text:hover {
    background: rgba(23, 166, 182, 1);
  }

  .sub-menu {
    display: none;
  }

  .c-menu {
    display: none;
  }
  .c-menu__item {
    height: 30px!important;
    line-height: 30px;
  }

  .c-menu__item:hover > .sub-menu {
    display: block;
  }

  .c-menu__text div,
  .ggskin_rectangle {
    background: rgba(23, 166, 182, 0.49)!important;
    color: white!important;
    border-top: 1px solid #eee!important;
    height: 30px!important;
    line-height: 30px;
  }

  .c-menu__text.is-big div {
    height: 40px!important;
    line-height: 18px;
  }

  .c-menu__text:hover div {
    background: rgba(23, 166, 182, 1)!important;
  }

  .c-menu-container:hover .c-menu {
    display: block;
  }

  canvas+div img {
    max-width: none;
  }

  canvas+div img+div {
    height: auto!important;
  }

  p {
    margin-bottom: 25px;
    line-height: 1.5;
    font-size: 20px;
  }

  a {
    color: #fcbf49;
    text-decoration: underline;
  }

  em, i {
    font-style: italic;
  }

  .c-graph {
    margin-bottom: 25px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    clear: both;
  }

  blockquote {
    position: relative;
    margin: 40px 0;
    padding-left: 100px;
    line-height: 36px;
    font-size: 24px;

    p {
      line-height: inherit;
      font-size: inherit;
    }

    &:after {
      display: inline-block;
      position: absolute;
      top: 15px;
      left: 0;
      background-image: url('../images/quote-yellow.png');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 50px;
      height: 50px;
      content: '';
    }
  }

  .alignleft {
    float: left;
    margin-right: 60px;
    margin-bottom: 50px;
    overflow: auto;
    zoom: 1;

    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }

  .alignright {
    float: right;
    margin-bottom: 50px;
    margin-left: 60px;
    overflow: auto;
    zoom: 1;

    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }

  figcaption {
    color: $color-white;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 30px 0;
    font-weight: bold;
  }

  h6 {
    font-size: 18px;
  }

  h5 {
    font-size: 20px;
  }

  h4 {
    font-size: 24px;
  }

  h3 {
    font-size: 28px;
  }

  h2 {
    font-size: 32px;
  }

  ul {
    margin: 40px 0;

    li {
      position: relative;
      padding: 7px 0 7px 30px;
      line-height: 1.4;
      font-size: 19px;

      &:after {
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 0;
        border-radius: 50%;
        background-color: $yellow;
        width: 8px;
        height: 8px;
        content: '';
      }
    }
  }

  ol {
    margin: 40px 20px;
    list-style-type: decimal;

    li {
      padding: 7px 0 7px 10px;
      line-height: 1.4;
      font-size: 19px;
    }
  }

  .wp-block-gallery {

    li {
      padding: 0;

      &:after {
        content: none;
      }
    }
  }

  .wp-block-columns {
    &.has-3-columns {
      justify-content: center;
    }
  }

  @include mq('tablet') {

  }

  @include mq('tablet') {
    .wp-block-image {
      .alignleft {
        float: none;
        margin-right: auto;
        margin-left: auto;
        img {

        }
      }

      .alignright {
        float: none;
        margin-right: auto;
        margin-left: auto;
        img {

        }
      }
    }
  }

  .aligncenter {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  iframe {
    display: inline-block;
    margin: 0 auto;
    width: 100% !important;
    max-width: 700px !important;
    height: 400px !important;

    @include mq('tablet-medium') {
      max-width: 600px !important;
      height: 300px !important;
    }

    @include mq('phone-large') {
      max-width: 400px !important;
      height: 200px !important;
    }
  }

  .row {
    @include mq('tablet-medium') {
      margin-right: 0;
      margin-left: 0;
    }
  }

  // .u-container {
  //   padding: 0;
  // }

  hr {
    margin-bottom: 35px;
  }

  @include mq('desktop') {
    padding: 150px 0px 30px;
  }

  @include mq('phone-large') {

    h6 {
      font-size: 18px;
    }

    h5 {
      font-size: 18px;
    }

    h4 {
      font-size: 20px;
    }

    h3 {
      font-size: 23px;
    }

    h2 {
      font-size: 25px;
    }

    ul {
      li {
        padding: 5px 0 5px 30px;
        font-size: 17px;
      }
    }

    p {
      margin-bottom: 20px;
      font-size: 17px;
    }

    ol {
      margin: 30px 20px;
    }

    ul {
      margin: 30px 0;
    }

    blockquote {
      margin: 30px 0;
      padding-left: 45px;
      line-height: 28px;
      font-size: 18px;

      &:after {
        top: 8px;
        width: 30px;
        height: 30px;
      }
    }

    .alignleft {
      float: none;
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .alignright {
      float: none;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
}
