.p-thanks {
  position: relative;
  padding-top: 300px;
  padding-bottom: 225px;
  overflow: hidden;
  text-align: center;
  font-family: 'Century Gothic';
  font-weight: bold;
  @include mq('desktop-large') {
    padding-top: 200px;
    padding-bottom: 130px;
  }
  @include mq('tablet-medium') {
    padding-top: 320px;
    padding-bottom: 300px;
  }
  @include mq('phone-large') {
    padding-top: 240px;
    padding-bottom: 170px;
  }

  h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    line-height: 183px;
    color: $color-white;
    font-family: 'Chocolate cyr-lat';
    font-size: 100px;
    @include mq('desktop-large') {
      line-height: 130px;
      font-size: 70px;
    }
    @include mq('phone-large') {
      line-height: 65px;
      font-size: 40px;
    }
  }

  p {
    display: inline;
    position: relative;
    z-index: 2;
    padding-bottom: 25px;
    text-align: center;
    line-height: 29px;
    color: $color-white;
    font-size: 24px;
    @include mq('phone-large') {
      padding-bottom: 15px;
      font-size: 16px;
    }

    &::after {
      position: absolute;
      right: 5%;
      bottom: 0;
      left: 5%;
      background-color: $color-white;
      height: 1px;
      content: '';
    }
  }

  &__subscribe {
    display: block;
    position: relative;
    z-index: 2;
    padding-top: 85px;
    text-align: center;
    line-height: 22px;
    color: $color-white;
    font-size: 18px;
    @include mq('phone-large') {
      padding-top: 50px;
      font-size: 14px;
    }
  }

  &__boy {
    position: absolute;
    right: 0;
    bottom: -140px;
    z-index: 1;
    @include mq('desktop-large') {
      right: -45px;
    }
    @include mq('desktop') {
      right: -70px;
    }
    @include mq('phone-large') {
      right: -40%;
      bottom: -98px;
    }

    img {
      width: 100%;
      @include mq('desktop-large') {
        width: 85%;
      }
      @include mq('desktop') {
        width: 75%;
      }
      @include mq('phone-large') {
        width: 45%;
      }
    }
  }

  &__girl {
    position: absolute;
    bottom: -275px;
    left: 0;
    z-index: 1;
    @include mq('desktop-large') {
      left: -45px;
    }
    @include mq('desktop') {
      left: -65px;
    }
    @include mq('tablet-medium') {
      top: -90px;
      bottom: auto;
    }
    @include mq('phone-large') {
      top: 15px;
      left: -40%;
    }

    img {
      width: 100%;
      @include mq('desktop-large') {
        width: 85%;
      }
      @include mq('desktop') {
        width: 75%;
      }
      @include mq('phone-large') {
        width: 45%;
      }
    }
  }

  .col-xl-3,
  .col-lg-6,
  .col-md-6 {
    position: relative;
    flex: 0 0 100%;
    z-index: 2;
    max-width: 100%;
  }

  .c-social__item {
    justify-content: center;
    margin-top: 15px;
    margin-left: auto;

    svg {
      width: 64px !important;
      height: 64px !important;
      @include mq('desktop-large') {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
}
