.l-banners {
  padding-top: 157px;

  @include mq('desktop-large') {
    padding-top: 127px;
  }

  @include mq('desktop-wide') {
    padding-top: 122px;
  }

  // @include mq('tablet-wide') {
  //   padding-top: 166px;
  // }

  @include mq('tablet-wide') {
    padding-top: 111px;
  }
}
