.l-blog {
  background-color: $main-opacity-color;
  padding: 67px 0 75px;
  text-align: center;

  &__row {
    margin-bottom: 50px;

    @include mq('tablet-medium') {
      margin: 0 auto;
      margin-bottom: 50px;
      max-width: 380px;
    }

    @include mq('phone-large') {
      margin-bottom: 35px;
    }
  }

  .u-relative {
    z-index: 2;
  }

  .u-secondary-heading {
    position: relative;
    margin-bottom: 55px;
    text-align: center;

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      left: 0;
      background-color: $color-white;
      width: 30%;
      height: 1px;
      content: '';
    }

    &:after {
      right: 0;
      left: auto;
    }
    @include mq('tablet-wide') {
      &:before,
      &:after {
        content: none;
      }
    }
  }

  .u-btn-main {
    margin-top: 35px;
    padding: 17px 67px;

    @include mq('phone-large') {
      padding: 13px 75px;
    }
  }

  .c-dots-block {
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  &__col {
    margin-bottom: 40px;

    @include mq('tablet-medium') {
      height: 100%;
    }
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }
  .slick-slide {
    height: auto;

    &>div {
      height: 100%;
    }
  }
}
