.l-mail {
  position: relative;
  margin: 0 auto;
  padding: 70px 0;

  @include mq('tablet-medium') {
    padding-top: 80px;
  }

  @include mq('phone-large') {
    padding: 0 35px;
    padding-top: 113px;
    padding-bottom: 247px;
  }

  &__boy {
    position: absolute;
    top: -115px;
    right: 0;
    z-index: 1;

    @include mq('tablet-medium') {
      top: -120px;
      max-width: 275px;
      overflow-x: hidden;
    }

    @include mq('phone-large') {
      top: auto;
      bottom: 15px;
      max-width: 245px;
    }

    img {
      width: 100%;

      @include mq('tablet-medium') {
        margin-left: 60px;
      }
    }
  }

  &__girl {
    display: none;
    position: absolute;
    top: -190px;
    left: 0;
    z-index: 1;
    width: 330px;
    overflow-x: hidden;

    @include mq('tablet-medium') {
      display: block;
    }

    @include mq('phone-large') {
      top: -115px;
      width: 285px;
    }

    img {
      margin-left: -105px;
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 30px;
    max-width: 500px;
    text-align: center;
    line-height: 20px;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 16px;
  }

  &__warning {
    display: none;
    margin-top: 30px;
    text-align: center;
    line-height: 20px;
    color: $btn-color;
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: bold;

    &.is-active {
      display: block;
    }
  }

  .u-subtitle {
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 0 4px 4px $subtitle-shadow;
    line-height: 59px;
    font-size: 32px;

    @include mq('tablet-medium') {
      line-height: 48px;
      font-size: 26px;
    }
  }

  .u-relative {
    z-index: 2;
  }
}
