.l-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  background-color: $modal-container;
  height: 100%;
  overflow-y: auto;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  &__close {
    position: fixed;
    top: 83px;
    right: 30px;
    fill: $color-white;
  }

  .c-modal {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%) scale(1.3);
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    border-radius: 3px;

    &.is-active {
      transform: translateX(-50%) scale(1);
      visibility: visible;
      opacity: 1;
    }

    &__menu {
      padding: 0;
      text-align: center;

      li {
        display: block;
        padding: 10px 0;
      }
    }
  }

  .c-main-nav {
    display: block;
    margin-bottom: 25px;
    color: $color-white;

    &__item {
      text-align: center;
      line-height: 150%;
      a {
        display: inline-block;
        position: relative;
        line-height: 130%;
      }
    }

    &__caret {
      position: absolute;
      right: -18px;
      top: 50%;
      transform: translateY(-50%);
    }

    .c-main-subnav {
      display: none;
      position: relative;
      top: 0;
      transition: none;
      visibility: visible;
      opacity: 1;
      background: none;
      padding: 15px 0;
      text-align: center;
    }

    .c-sub-menu-2 {
      display: block;
      width: 100%;
    }

    .c-sub-menu-3 {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 10px;
    }
  }

  .u-sub-menu li {
    line-height: 20px;
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: normal;
  }

  .u-sub-menu {
    .js-list {
      display: none;

      .c-sub-menu-3 {
        display: block;
      }

      .c-sub-menu-4 {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        margin-top: 5px;
      }
    }
  }

  .c-social {
    border-bottom: 0;

    .u-col {
      width: 100%;
      max-width: 100%;
      flex: 100%;
    }

    &__item {
      margin-left: 0;
      justify-content: center !important;
    }
  }

  .c-social-bar {
    display: none;
  }
}


.is-active-item {
  color: $btn-color;
}
