.l-services {
  padding-top: 76px;
  padding-bottom: 127px;

  &__row {
    align-items: stretch;
    margin-top: 43px;
  }

  &__text {
    margin: 0 25px;
    margin-top: 10px;
    text-align: center;
    line-height: 24px;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 18px;
  }

  &__col {
    margin-bottom: 20px;
  }

  .u-secondary-heading {
    text-align: center;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: auto;
  }

  .slick-slide div {
    height: 100%;
  }

  @include mq('tablet-medium') {
    &__col {
      margin-bottom: 0;
      height: 100%;
    }
  }

  @include mq('phone-large') {
    .u-btn-main {
      margin-top: 50px;
      padding: 17px 60px;
      text-align: center;
    }
  }

  @include mq('phone') {
    &__text {
      margin: 15px 0;
    }

    &__row {
      margin-top: 25px;
    }
  }
}
