.l-service {
  color: $color-white;
  font-family: Century Gothic;

  &__title {
    margin-bottom: 50px;
    text-align: center;
    line-height: 80px;
    font-family: 'Chocolate cyr-lat';
    font-size: 44px;
  }

  .l-mail__boy {
    top: -50px;
    overflow: hidden;
    img {
      margin-left: 30px;
    }
  }

  .l-mail__girl {
    display: block;
    top: -65px;
    left: -30px;
    width: 400px;
    overflow: hidden;

    img {
      margin-left: 0;
    }
  }

  table a {
    color: #fcbf49;
  }

  @include mq('tablet-medium') {
    .l-mail__boy {

      img {
        margin-left: 15px;
      }
    }

    .l-mail__girl {
      top: -90px;
      left: -15px;
      width: auto;
      max-width: 275px;
      // overflow: hidden;
    }
  }

  @include mq('phone-large') {
    .l-mail__girl {
      top: -70px;
      width: 285px;

      img {
        margin-left: -105px;
      }
    }

    .l-mail__boy {
      top: auto;
      bottom: -20px;
      max-width: 245px;
      right: 0;
      img {
        margin-left: 60px;
      }
    }
  }

  @include mq('phone-wide') {
    &__title {
      line-height: 140%;
      font-size: 35px;
    }
  }
}
