.l-testimonials {
  position: relative;
  padding-top: 56px;
  padding-bottom: 58px;
  font-family: Century Gothic;

  &__col {
    display: flex;
    justify-content: center;
    padding: 0 35px;

    @include mq('desktop') {
      padding: 0 15px;
      margin-bottom: 40px;
    }
  }

  .row {
    margin: 0 -35px;

    @include mq('desktop') {
      margin: 0 -15px;
    }
  }

  .u-secondary-heading {
    margin-bottom: 50px;
    text-align: center;
  }

  .u-btn-main {
    align-self: center;
    margin-top: 50px;
  }

  .u-relative {
    z-index: 2;
  }

  .c-services-card__more {
    justify-content: center;
    outline: none;
    padding-bottom: 20px;
  }

  @include mq('tablet-medium') {
    .c-social-bar {
      display: none;
    }
  }

  @include mq('phone') {
    .u-btn-main {
      padding: 17px 70px;
    }
  }
}
