.l-treat {
  padding: 67px 0 75px;

  .u-secondary-heading {
    position: relative;
    margin-bottom: 55px;
    text-align: center;

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      left: 0;
      background-color: $color-white;
      width: 30%;
      height: 1px;
      content: '';
    }

    &:after {
      right: 0;
      left: auto;
    }
  }

  .c-arrows {
    right: 30px;
  }

  &__col {
    margin-bottom: 20px;

    @include mq('tablet-medium') {
      height: 100%;
    }
  }

  .c-treat-card {
    height: 100%;
    justify-content: center;
  }

  .c-dots-block {
    justify-content: center;
    // margin-bottom: 35px;
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }
  .slick-slide {
    height: auto;

    &>div {
      height: 100%;
    }
  }

  @include mq('tablet-medium') {
    .u-secondary-heading {
      &:before,
      &:after {
        content: none;
      }
    }

    &__row {
      margin: 0 auto;
      // max-width: 396px;
    }
  }

  @include mq('tablet') {
    padding: 32px 0 75px;
  }

  @include mq('phone-large') {
    padding-bottom: 50px;

    &__row {
      margin-bottom: 47px;
    }

    .c-treat-card {
      margin-bottom: 0;
    }
  }
}
