.l-welcome {
  margin-bottom: 30px;
  background-color: $main-opacity-color;
  color: $color-white;
  font-family: 'Century Gothic';
  clip-path: polygon(0 0, 0 94%, 0 94%, 50% 100%, 50% 100%, 100% 94%, 100% 94%, 100% 0);

  &__row {
    margin-bottom: 80px;
  }

  &__bg {
    position: absolute;
    top: 21px;
    right: 178px;
    z-index: 1;
  }

  &__stars {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 40px 0 30px;
    background: url('../images/welcome-stars.png');
    background-size: contain;

    @include mq('desktop') {
      background-size: cover;
    }
  }

  &__svg {

    svg {
      position: absolute;
      top: 50px;
      right: 5px;
    }
    @include mq('tablet') {
      display: none;
    }
  }

  &__text {
    margin-bottom: 30px;
    max-width: 680px;
    line-height: 24px;
    font-size: 18px;
  }

  &__value {
    line-height: 61px;
    font-size: 50px;
    font-weight: bold;
  }

  &__label {
    margin-right: -15px;
    text-transform: lowercase;
    line-height: 25px;
    font-size: 18px;
  }

  .u-container {
    position: relative;
    z-index: 2;
    padding: 0;
  }

  .u-wrapper {
    position: relative;
    padding: 65px 15px;
  }

  .u-subtitle {
    margin-bottom: 14px;
    line-height: 66px;
    font-size: 36px;
  }

  .u-divider {
    margin-bottom: 25px;
    width: 440px;
  }

  .u-btn-main {
    position: relative;
    align-self: center;
    z-index: 1;
    margin-bottom: 18px;
  }

  @include mq('tablet-medium') {
    text-align: center;
    overflow-x: hidden;

    &__bg {
      right: -82px;
    }

    &__stars {
      z-index: -1;
    }

    &__text {
      max-width: 100%;
    }
  }

  @include mq('tablet') {
    &__bg {
      top: auto;
      bottom: 0;
    }

    &__stars {
      background: url('../images/welcome-stars-320.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__row {
      margin-bottom: 40px;
    }

    &__col {
      margin-bottom: 20px;
    }

    .u-divider {
      display: none;
    }
  }
}
