.l-why-us {
  background-color: $main-opacity-color;
  padding-bottom: 97px;

  &__row {
    justify-content: space-between;
  }

  &__col {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 20%;
  }

  &__wide {
    margin: 0 -20px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  p {
    margin: 15px auto 0;
    max-width: 280px;
    text-align: center;
    line-height: 30px;
    color: $color-white;
    font-family: 'Century Gothic';
    font-size: 18px;
    font-weight: bold;
  }

  .u-secondary-heading {
    padding: 76px 0;
    text-align: center;
  }

  @include mq('desktop') {
    &__row {
      justify-content: center;
    }

    &__col {
      margin-bottom: 40px;
    }
  }

  @include mq('tablet-medium') {
    &__col {
      max-width: 33.33333%;
      width: 33.33333%;
    }
  }
  @include mq('tablet') {
    &__col {
      max-width: 33.33333%;
      width: 33.33333%;
    }
  }
  @include mq('phone-large') {
    &__col {
      max-width: 100%;
      width: 100%;
    }
  }
  @include mq('phone') {

    .u-secondary-heading {
      padding: 70px 0 35px;
    }

    img {
      margin-bottom: 15px;
    }
  }

  .c-dots-block {
    ul {
      display: flex;
      justify-content: center;
    }
  }
}
