.l-write-to-us {
  position: relative;
  background: url('../images/Mask.png');
  background-size: cover;
  padding: 58px 0 75px;

  .u-wrapper {
    position: relative;
  }

  .u-relative {
    z-index: 3;
  }

  &__img {
    position: absolute;
    top: -122px;
    left: -80px;
    z-index: 1;

    svg {
      position: absolute;
      top: 190px;
      right: 50px;

      &.is-star-full {
        display: none;
      }
    }
  }

  @include mq('tablet-medium') {
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 150px;
    background-position-y: center;

    &__img {
      top: -420px;
      left: -264px;

      svg {
        top: 240px;
      }
    }

    .c-qoute {
      margin-bottom: 40px;
    }
  }

  @include mq('tablet') {
    padding: 300px 0 32px;


    &__img {
      top: -572px;
      transform: scale(0.62);
    }
  }

  @include mq('phone-wide') {
    background: url('../images/Mask-320.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include mq('phone') {
    &__img {
      transform: scale(0.5);
    }

    .u-wrapper {
      padding: 0;
    }
  }
}
