{% if (address|length > 0) %}
<div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 u-col">
  <div class="c-social__item">
    <svg width="30px" height="35px" class="c-social__svg">
      <use xlink:href="#icon-location"></use>
    </svg>
    <div class="d-flex flex-column">
      <span class="c-social__text">{{ 'Visit our clinic' | translateString('Widget address - text') }}</span>
      {% for item in address %}
        <span class="c-social__text is-bold">{{ item }}</span>
      {% endfor %}
    </div>
  </div>
</div>

{% endif %}


{% if (address|length > 0) %}
  <div class="c-header__item">
    <svg width="14px" height="16px" class="c-header__svg">
      <use xlink:href="#icon-location"></use>
    </svg>
      <span>{{ address[0] }}</span>
    {% if (address|slice(1, address|length)) %}
    <svg width="9px" height="6px" class="c-header__caret">
      <use xlink:href="#icon-caret"></use>
    </svg>
    {% endif %}
    <div class="c-header__dropdown">
      <svg width="20px" height="20px" class="c-header__close">
        <use xlink:href="#close"></use>
      </svg>
      {% for item in address|slice(0, address|length) %}
        <a>{{ item }}</a>
      {% endfor %}
    </div>

  </div>
{% endif %}
