<div class="c-header__item">
  <a class="d-flex align-items-center" href="{{ link }}">
    <svg width="14px" height="16px" class="c-header__svg">
      <use xlink:href="#icon-user" />
    </svg>
    <span class="c-header__item-text">{{ text }}</span>
 </a>
</div>
