<p>
    <label for="{{ posts.id }}">{{ posts.e }}</label>

    <input class="widefat" id="{{ posts.id }}"
           name="{{ posts.name }}[]" type="tel"
           value="{{ posts.values[0] }}"/>
</p>
<p style="display: none;" class="js-clone" data-id="{{ posts.id }}">
    <input class="widefat"
           name="" type="tel"
           data-name="{{ posts.name }}[]"
           value="{{ phone }}"/>
    <a href="javascript:" onclick="$(this).closest('p').remove();">{{ function('__', 'Remove') }}</a>
</p>
{% if (posts.values|length > 1) %}
    {% for phone in posts.values %}
        {% if (loop.index != 1) %}
            <p>
                <input class="widefat"
                       name="{{ posts.name }}[]" type="tel"
                       value="{{ phone }}"/>
                <a href="javascript:" onclick="$(this).closest('p').remove();">{{ function('__', 'Remove') }}</a>
            </p>
        {% endif %}
    {% endfor %}
{% endif %}
<p class="js-placer">
    <button type="button" class="alignright js-add" data-id="{{ posts.id }}">Add new posts</button>
    <br class="clear">
</p>

<script>
    $('.js-add[data-id="{{ posts.id }}"]').click((function () {
        var clone = $('.js-clone[data-id="{{ posts.id }}"]')
            .clone();

        clone.css('display', 'block');
        clone.removeClass('js-clone');
        clone.find('input').attr('name', clone.find('input').data('name'));

        clone
            .insertBefore($(this).closest('.js-placer'));
    }));
</script>
