<div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 u-col">
  <div class="c-social__item">
    {% if facebook != '' %}
      <a href="{{ facebook }}">
        <svg width="32px" height="32px">
          <use xlink:href="#facebook"></use>
        </svg>
      </a>
    {% endif %}

    {% if instagram != '' %}
      <a href="{{ instagram }}">
        <svg width="32px" height="32px">
          <use xlink:href="#instagram"></use>
        </svg>
      </a>
    {% endif %}

    {% if youtube != '' %}
      <a href="{{ youtube }}">
        <svg width="32px" height="32px">
          <use xlink:href="#youtube"></use>
        </svg>
      </a>
    {% endif %}

    {% if skype != '' %}
      <a href="{{ skype }}">
        <svg width="32px" height="32px" style="fill: #2B3363">
          <use xlink:href="#linkedIn"></use>
        </svg>
      </a>
    {% endif %}
  </div>
</div>


<div class="c-social-bar">
  {% if facebook != '' %}
    <a href="{{ facebook }}">
      <svg width="39px" height="39px" class="c-social-bar__facebook">
        <use xlink:href="#facebook-color"></use>
      </svg>
    </a>
  {% endif %}
  {% if instagram != '' %}
    <a href="{{ instagram }}">
      <svg width="39px" height="39px" class="c-social-bar__instagram">
        <use xlink:href="#instagram-color"></use>
      </svg>
    </a>
  {% endif %}
  {% if youtube != '' %}
    <a href="{{ youtube }}">
      <svg width="39px" height="39px" class="c-social-bar__youtube">
        <use xlink:href="#youtube-color"></use>
      </svg>
    </a>
  {% endif %}
  {% if skype != '' %}
    <a href="{{ skype }}">
      <svg width="39px" height="39px" class="c-social-bar__linkedIn">
        <use xlink:href="#linkedIn-color"></use>
      </svg>
    </a>
  {% endif %}
</div>
