<p>
    <label for="{{ facebook.id }}">{{ facebook.e }}</label>

    <input class="widefat" id="{{ facebook.id }}"
           name="{{ facebook.name }}" type="tel"
           value="{{ facebook.value }}"/>
</p>

<p>
  <label for="{{ instagram.id }}">{{ instagram.e }}</label>

  <input class="widefat" id="{{ instagram.id }}"
         name="{{ instagram.name }}" type="tel"
         value="{{ instagram.value }}"/>
</p>

<p>
  <label for="{{ youtube.id }}">{{ youtube.e }}</label>

  <input class="widefat" id="{{ youtube.id }}"
         name="{{ youtube.name }}" type="tel"
         value="{{ youtube.value }}"/>
</p>


<p>
  <label for="{{ skype.id }}">{{ skype.e }}</label>

  <input class="widefat" id="{{ skype.id }}"
         name="{{ skype.name }}" type="tel"
         value="{{ skype.value }}"/>
</p>
