@import 'fonts';

body {
  position: relative;
}

a, button {
  outline: none;
}

table {
  a {
    text-decoration: underline;
  }
}

// img {
//   max-width: 100%;
//   height: auto;
// }
