// sass-lint:disable no-duplicate-properties

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic/CenturyGothic-Italic.eot'),
  url('../fonts/CenturyGothic/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic/CenturyGothic-Italic.woff') format('woff'),
  url('../fonts/CenturyGothic/CenturyGothic-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/CenturyGothic/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic/CenturyGothic.woff2') format('woff2'),
  url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic/CenturyGothic.ttf') format('truetype'),
  url('../fonts/CenturyGothic/CenturyGothic.svg#CenturyGothic') format('svg');
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/CenturyGothic/CenturyGothic-Bold.eot');
  src: url('../fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic/CenturyGothic-Bold.woff2') format('woff2'),
  url('../fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'),
  url('../fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype'),
  url('../fonts/CenturyGothic/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/CenturyGothic/CenturyGothic-BoldItalic.eot');
  src: url('../fonts/CenturyGothic/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic/CenturyGothic-BoldItalic.woff2') format('woff2'),
  url('../fonts/CenturyGothic/CenturyGothic-BoldItalic.woff') format('woff'),
  url('../fonts/CenturyGothic/CenturyGothic-BoldItalic.ttf') format('truetype'),
  url('../fonts/CenturyGothic/CenturyGothic-BoldItalic.svg#CenturyGothic-BoldItalic') format('svg');
}

@font-face {
  font-family: 'Chocolate cyr-lat';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Chocolatecyr-lat/Chocolatecyr-lat.eot');
  src: url('../fonts/Chocolatecyr-lat/Chocolatecyr-lat.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Chocolatecyr-lat/Chocolatecyr-lat.woff2') format('woff2'),
  url('../fonts/Chocolatecyr-lat/Chocolatecyr-lat.woff') format('woff'),
  url('../fonts/Chocolatecyr-lat/Chocolatecyr-lat.ttf') format('truetype'),
  url('../fonts/Chocolatecyr-lat/Chocolatecyr-lat.svg#Chocolatecyr-lat') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Montserrat/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}
