{% extends "base.twig" %}

{% block content %}
  <section class="l-main p-search p-error">
    <div class="u-wrapper">
      <div class="container u-container">
          <div class="p-search__nofound">
            <img src="{{ site.theme.link }}/static/images/404.png" alt="">
            <div class="p-error__error">
              <span class="p-error__numb">4</span>
              <span class="p-error__numb">0</span>
              <span class="p-error__numb">4</span>
              <p>{{ 'Sorry, this page not found' | translateString('Not found') }}</p>
              <a href="{{site.url}}" class="u-btn-main"><span>{{ 'Back to home' | translateString('Not found button') }}</span></a>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock %}
