{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
  <section class="p-archive js-blog-wrap">
    <div class="container u-container u-relative">
      <div class="u-flex align-items-center flex-md-nowrap">
        <h1 class="p-single__title">
          {{ term_page.name }}
        </h1>
      </div>
      <div class="p-single__content">
        <div class="row js-blog">
          {% for post in posts %}
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 l-blog__col">
              {% include 'partial/blog-card.twig' with {'data': post} %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="c-dots-block js-blog__dots d-sm-none d-flex"></div>
      <div class="c-arrows d-lg-none d-md-flex d-sm-flex" style="top: 0;">
        <div class="c-arrows__prev js-blog__prev">
          <svg width="9px" height="17px" class="c-arrows__svg">
            <use xlink:href="#arrow-prev"></use>
          </svg>
        </div>
        <div class="c-arrows__next js-blog__next">
          <svg width="9px" height="17px" class="c-arrows__svg">
            <use xlink:href="#arrow-next"></use>
          </svg>
        </div>
      </div>
      {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 2, end_size: 1}) } %}
    </div>
  </section>

{% endblock %}

