{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
    {% include 'partial/icons.twig' %}
		<header class="c-header">
			{% block header %}

        <div class="c-header__info">
          <div class="u-wrapper d-flex align-items-center justify-content-between ">
            {{ widget_header_top }}
          </div>
        </div>

        <div class="c-header__main">
          <div class="u-wrapper u-relative">
            <div class="c-header__logo d-flex align-items-center justify-content-between">
              <a href="{{site.url}}" rel="home"><img src="{{ site.theme.link }}/static/images/logo.png" alt=""></a>

            </div>
            <div class="c-header__writeus d-xl-flex d-none">
              <a href="{{ 254 | localizeLinkById }}" class="u-btn-main ">
                <span>write to us</span>
              </a>
            </div>
            <div class="c-menu">
              <nav id="nav-main" class="c-menu__nav d-xl-flex d-none" role="navigation">
                {% include "menu.twig" with {'menu': menu.get_items} %}
              </nav><!-- #nav -->
              <div class="c-menu__hamburger d-xl-none d-block ">
              <svg width="70px" height="35px">
                <use xlink:href="#hamburger">
              </svg>
              </div>
            </div>
          </div>
        </div>

			{% endblock %}
		</header>
{% include 'partial/mobile-menu.twig' %}
    <main class="u-bg-img">
      {% include 'partial/comet.twig' %}
      {% block content %}
        Sorry, no content
      {% endblock %}
    </main>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

    <div class="l-social-bar">
      {{ widget_fixed }}
    </div>

    {# {{ widget_fixed }} #}

	</body>
</html>
