{# <pre>{{ dump(menu) }}</pre> #}
{% if menu %}
    {% for item in menu %}
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 u-col">
          <h3 class="c-nav-links__title">{{ item.title }}</h3>
          <ul>
            {% if item.children %}
              {% for listItem in item.children %}
                <li class="c-nav-links__items"><a href="{{ listItem.url }}">{{ listItem }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
    {% endfor %}
{% endif %}
