{# {% include 'partial/icons.twig' %} #}
<div class="c-footer">
  <div class="container u-container">
    <div class="c-social">
      <div class="row">
        {{ widget_footer_top }}
      </div>
    </div>
    <div class="c-nav-links">
      <div class="row">
        {% include "footer-menu.twig" with {'menu': footer_menu.get_items} %}
      </div>
    </div>
    <div class="c-footer__doc">
      <div class="row">
        {% include "footer-short-menu.twig" with {'menu': footer_short_menu.get_items} %}
      </div>
      </div>
    </div>
  </div>
  <div class="c-footer__copyright">
    <p>&copy; 2019  Gryshchenko Clinic-IVF. All rights reserved</p>
  </div>

</div>
<script src="//code.jivosite.com/widget.js" jv-id="RTmvYCoeLZ"></script>
