{% extends "base.twig" %}

{% block content %}
  <section class="l-main p-search">
    <div class="u-wrapper">
      <div class="container u-container">
        <div class="row flex-column">
          <h1 class="u-secondary-heading">{{ 'Search result' | translateString('Search') }}</h1>

          {{ function('get_search_form') }}

          {% for post in posts %}
            {% include ['tease.twig'] %}
          {% endfor %}
        </div>
        {% if (posts|length == 0) %}
          <div class="p-search__nofound">
            <img src="{{ site.theme.link }}/dev/images/no-found.png" alt="">
            <svg width="150px" height="173px">
              <use xlink:href="#icon-search">
            </svg>
            <p>{{ 'Sorry, nothing was found.' | translateString('Search') }}</p>
            <p>{{ 'Try another search word.' | translateString('Search') }}</p>
          </div>
        {% endif %}

        {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
      </div>
    </div>
  </section>
{% endblock %}
