{% extends "base.twig" %}

{% block content %}
  <main class="p-page p-single">
    <div class="container u-container">
      <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        {% set thumbnail = function('get_the_post_thumbnail_url', data.ID, 'full') %}
        {% if post.meta('preview_in_post') == true %}
          {% if thumbnail %}
            <div class="p-single__thumbnail">
              <img class="is-desktop d-lg-block d-md-none d-sm-none d-none"
                   src="{{ thumbnail | resize(1110, 460) }}"/>
              <img class="is-tablet d-lg-none d-md-block d-sm-block d-none"
                   src="{{ thumbnail | resize(580, 350) }}"/>
              <img class="is-phone d-sm-none d-block"
                   src="{{ thumbnail | resize(340, 250) }}"/>
            </div>
          {% endif %}
        {% endif %}
        <div class="u-flex align-items-center flex-md-nowrap">
          {% for category in post.terms('category') %}
            {% if category.slug == 'news' %}
              <div class="p-single__date d-flex justify-content-center align-items-center">
                <span class="is-year">{{ post.date|date("Y") }}</span>
                <span class="is-day">{{ post.date|date("d") }}</span>
                <span class="is-mounth">{{ post.date|date("F") }}</span>

              </div>
            {% endif %}
          {% endfor %}
          <h1 class="p-single__title">
            {{ post.title }}
          </h1>
        </div>
        <div class="p-single__content">
          {{ post.content | localizeReviewForm }}
        </div>

      </article>

      {% include 'templates/partial/related.twig' with {'post': post} %}
    </div>
  </main>
{% endblock %}
