<article class="c-article tease tease-{{ post.post_type }}" id="tease-{{ post.ID }}">
  {% block content %}

    <div class="c-article__block">
      <div class="c-article__svg">
        <svg width="48px" height="56px">
          <use xlink:href="#star-article">
        </svg>
      </div>
      <div class="c-article__title">
        <h2 class="h2">{{ post.title }}</h2>
        <a href="{{ post.link }}">{{ post.link }}</a>
      </div>
    </div>
    <p class="c-article__text">{{ post.preview }}</p>
  {% endblock %}
</article>
