{% extends "base.twig" %}

{% block content %}

  <main class="l-main p-single">
    <div class="u-wrapper">
      <div class="container u-container">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
          <div class="p-single__content">
            {{ post.content }}
          </div>
        </article>
      </div>
  </main>
{% endblock %}
