{% extends "base.twig" %}

{% block content %}

  {% include 'partial/banners.twig' %}

  {% include 'partial/why-us.twig' with {'data': why_us} %}

  {% include 'partial/services.twig' with {'data': services} %}

  {% include 'partial/welcome.twig' with {'data': statistic_info} %}

  {% include 'partial/testimonials.twig' with {'data': testimonials} %}

  {% include 'partial/write-to-us.twig' %}

  {% include 'partial/treatments.twig' with {'data': treatments} %}

  {% include 'partial/blog.twig' with {'data': news} %}

  {% include 'partial/mail.twig' %}

{% endblock %}
