{% extends "base.twig" %}

{% block content %}
  <main class="l-main p-single p-contact">
    <div class="u-wrapper">
      <div class="container u-container">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
          <div class="row align-items-center">
            <div class="p-single__content">
              {% include '/templates/partial/contact-form.twig' %}
            </div>
          </div>
        </article>
      </div>
    </div>
  </main>
{% endblock %}
