{% extends "base.twig" %}

{% block content %}
  <section class="p-thanks">
    {{post.content}}
    <span class="p-thanks__subscribe">
      {{ 'Subscribe for us' | translateString('Thank page - socials text') }}
    </span>
    {{ widget_fixed }}
    <div class="p-thanks__boy">
      <img class="" src="{{ site.theme.link }}/dev/images/thanks-boy.png">
    </div>
    <div class="p-thanks__girl">
      <img class="" src="{{ site.theme.link }}/dev/images/thanks-girl.png">
    </div>
  </section>
{% endblock %}
