{% extends "base.twig" %}

{% block content %}
  <main class="l-main p-single">
    <div class="u-wrapper">
      <div class="container u-container">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
          <div class="row align-items-center">
            {% for category in post.terms('category') %}
              {% if category.slug == 'news' %}
                <div class="p-single__date d-flex justify-content-center align-items-center">
                  <span class="is-day">{{ post.date|date("d") }}</span>
                  <span class="is-mounth">{{ post.date|date("F") }}</span>
                </div>
              {% endif %}
            {% endfor %}
            <h1 class="p-single__title">
              {{ post.title }}
            </h1>
            <div class="p-single__content">
              {% if post.content %}
                {{ post.content }}
                <br>
                <br>
              {% endif %}
              <div class="c-gallery js-gallery">
                {% for image in post.meta('gallery') %}
                  {% set lap = loop.index // 27 %}
                  {% set bound = lap*26 %}
                  {% set url = image.url | resize(275, 190) %}
                  {% set url_md = image.url | resize(310, 210) %}
                  {% set url_sm = image.url | resize(270, 200) %}
                  {% set marker = 'js-default is-default' %}

                  {% if loop.index == bound+1 %}
                    {% set marker = 'js-type-1 is-type-1' %}
                    {% set url = image.url | resize(275, 190) %}
                    {% set url_md = image.url | resize(310, 210) %}
                    {% set url_sm = image.url | resize(550, 430) %}
                  {% elseif loop.index == bound+5 %}
                    {% set marker = 'js-type-2 is-type-2' %}
                    {% set url = image.url | resize(275, 390) %}
                    {% set url_md = image.url | resize(310, 430) %}
                    {% set url_sm = image.url | resize(270, 200) %}
                  {% elseif loop.index == bound+6 %}
                    {% set marker = 'js-type-1 is-type-1' %}
                    {% set url = image.url | resize(275, 190) %}
                    {% set url_md = image.url | resize(310, 210) %}
                    {% set url_sm = image.url | resize(550, 430) %}
                  {% elseif loop.index == bound+9 %}
                    {% set marker = 'js-type-2 is-type-2' %}
                    {% set url = image.url | resize(275, 390) %}
                    {% set url_md = image.url | resize(310, 430) %}
                    {% set url_sm = image.url | resize(270, 200) %}
                  {% elseif loop.index == bound+10 %}
                    {% set marker = 'js-type-3 is-type-3' %}
                    {% set url = image.url | resize(560, 390) %}
                    {% set url_md = image.url | resize(630, 430) %}
                    {% set url_sm = image.url | resize(270, 200) %}
                  {% elseif loop.index == bound+16 %}
                    {% set marker = 'js-type-1 is-type-1' %}
                    {% set url = image.url | resize(275, 190) %}
                    {% set url_md = image.url | resize(310, 210) %}
                    {% set url_sm = image.url | resize(550, 430) %}
                  {% elseif loop.index == bound+17 %}
                    {% set marker = 'js-type-1 is-type-1' %}
                    {% set url = image.url | resize(275, 190) %}
                    {% set url_md = image.url | resize(310, 210) %}
                    {% set url_sm = image.url | resize(550, 430) %}
                  {% elseif loop.index == bound+18 %}
                    {% set marker = 'js-type-2 is-type-2' %}
                    {% set url = image.url | resize(275, 390) %}
                    {% set url_md = image.url | resize(310, 430) %}
                    {% set url_sm = image.url | resize(270, 200) %}
                  {% elseif loop.index == bound+20 %}
                    {% set marker = 'js-type-2 is-type-2' %}
                    {% set url = image.url | resize(275, 390) %}
                    {% set url_md = image.url | resize(310, 430) %}
                    {% set url_sm = image.url | resize(270, 200) %}
                  {% elseif loop.index == bound+24 %}
                    {% set marker = 'js-type-3 is-type-3' %}
                    {% set url = image.url | resize(560, 390) %}
                    {% set url_md = image.url | resize(630, 430) %}
                    {% set url_sm = image.url | resize(270, 200) %}
                  {% endif %}

                  {% if loop.index < 20 %}
                    {% set visible = ' is-visible' %}
                  {% else %}
                    {% set visible = ' is-invisible' %}
                  {% endif %}

                  <div data-src="{{image.url}}" data-fancybox="gallery" class="c-gallery__item js-gallery-item {{ marker }}{{ visible }}">
                    <img class="c-gallery__image" src="{{ url }}" alt="" style="display: none;">
                    <img class="c-gallery__image is-md" src="{{ url_md }}" alt="" style="display: none;">
                    <img class="c-gallery__image is-sm" src="{{ url_sm }}" alt="" style="display: none;">
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </main>
{% endblock %}
