{% if data.posts | length > 0 %}
<section class="l-blog js-blog-wrap">
  <div class="container u-container u-relative">
    <h2 class="u-secondary-heading">{{ 'Our blog' | translateString('Home blog screen - title') }}</h2>
    <div class="row l-blog__margin js-blog">
      {% for item in data.posts %}
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 l-blog__col">
        {% include 'partial/blog-card.twig' with {'data': item} %}
      </div>
      {% endfor %}
    </div>
    <div class="c-dots-block js-blog__dots d-sm-none d-flex"></div>
    <a href="{{ 9 | localizeCategoryLinkById }}" class="u-btn-main">
      <span>{{ 'All news' | translateString('Home blog screen - all button') }}</span>
    </a>
    <div class="c-arrows d-lg-none d-md-flex d-sm-flex">
      <div class="c-arrows__prev js-blog__prev">
        <svg width="9px" height="17px" class="c-arrows__svg">
          <use xlink:href="#arrow-prev"></use>
        </svg>
      </div>
      <div class="c-arrows__next js-blog__next">
        <svg width="9px" height="17px" class="c-arrows__svg">
          <use xlink:href="#arrow-next"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
{% endif %}
