<form action="" class="c-contact-form js-appointment-form" data-url="{{ 1945 | localizeLinkById }}">
  <div id="formerrors" style="display: none;">
    <div class="js-emptyfile">{{ 'File empty' | translateString('Contact Form') }}</div>
    <div class="js-typefile">{{ 'Wrong file type' | translateString('Contact Form') }}</div>
    <div class="js-sizefile">{{ 'File to large' | translateString('Contact Form') }}</div>
    <div class="js-name">{{ 'Name required' | translateString('Contact Form') }}</div>
    <div class="js-email">{{ 'Email required' | translateString('Contact Form') }}</div>
    <div class="js-date">{{ 'Date required' | translateString('Contact Form') }}</div>
    <div class="js-tel">{{ 'Phone required' | translateString('Contact Form') }}</div>
    <div class="js-message">{{ 'Message required' | translateString('Contact Form') }}</div>
    <div class="js-city">{{ 'City required' | translateString('Contact Form') }}</div>
    <div class="js-country">{{ 'Country required' | translateString('Contact Form') }}</div>
  </div>
  <h3 class="c-contact-form__title">{{ 'Appointment' | translateString('Appointment form - title') }}</h3>
  <div class="c-contact-form__row">
    <div class="c-contact-form__inputwrapper">
      <input type="text" placeholder="{{ 'Full name' | translateString('Appointment form - full name') }}" name="name"
             required>
    </div>

    <div class="c-contact-form__inputwrapper">
      <input type="tel" placeholder="{{ 'Phone' | translateString('Appointment form - phone') }}" name="phone" required>
    </div>

  </div>
  <div class="c-contact-form__row">
    <div class="c-contact-form__inputwrapper">
      <input type="email" placeholder="{{ 'Email' | translateString('Appointment form - email') }}" name="email"
             required>
    </div>

    <div class="c-contact-form__inputwrapper is-date">
      <input type="date" placeholder="{{ 'Birth' | translateString('Appointment form - birth') }}" name="date" required class="js-input-mask-date d-none">
      <input type="text" placeholder="Date of birth" class="js-input-mask-text ">
    </div>

  </div>
  <div class="c-contact-form__mono">
    <input type="checkbox" class="js-skype-checkbox">
    <input class="js-skype-field" type="text" disabled="disabled"
           placeholder="{{ 'Skype consultation (login)' | translateString('Appointment form - skype') }}" name="skype">
  </div>
  <div class="c-contact-form__mono has-textarea">
    <textarea rows="3" placeholder="{{ 'Enter your message' | translateString('Appointment form - message') }}"
              name="message" style="resize: none"></textarea>
    <button type="button" class="u-download-btn js-upload">
      <svg width="20px" height="23px">
        <use xlink:href="#icon-clip">
      </svg>
      <span>{{ 'Add files' | translateString('Appointment form - file') }}</span>
    </button>
    <label class="c-contact-form__errorwrap"></label>
  </div>
  <div class="c-contact-form__files"></div>
  <div class="c-contact-form__row">
    <div class="u-select">
      <select name="country" data-language="{{ language_code }}">
        <option value="" disabled selected>{{ 'Country' | translateString('Appointment form - country') }}</option>
      </select>
    </div>
    <div class="c-contact-form__inputwrapper">
      <input type="text" placeholder="{{ 'City' | translateString('Appointment form - city') }}" name="city" required>
    </div>
  </div>
  <div class="c-contact-form__row is-up">
    <div class="c-contact-form__inputwrappercheck">
      <input type="checkbox" id="agree" name="agree" required>
    </div>


    <label for="agree">
      <a href="{{ 136 | localizeLinkById }}">
        {{ 'By clicking on the "Send" button, I agree to the processing of personal data' | translateString('Appointment form - policy') }}
      </a>
    </label>
  </div>
  <button class="u-btn-main" type="submit" id="submit">
    <span>{{ 'Send' | translateString('Appointment form - send') }}</span>
  </button>
</form>
