<div style="display: inline-block; position: absolute; ">
  <svg xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="paint0_linear" x1="20.1199" y1="20.0093" x2="20.1199" y2="29.1968" gradientUnits="userSpaceOnUse">
        <stop stop-color="#5C52C7"/>
        <stop offset="0.460644" stop-color="#C53187"/>
        <stop offset="1" stop-color="#FDC264"/>
      </linearGradient>
      <linearGradient id="paint1_linear" x1="13.4155" y1="13.3052" x2="13.4155" y2="35.9015" gradientUnits="userSpaceOnUse">
        <stop stop-color="#5C52C7"/>
        <stop offset="0.460644" stop-color="#C53187"/>
        <stop offset="1" stop-color="#FDC264"/>
      </linearGradient>
      <linearGradient id="paint2_linear" x1="0.713623" y1="0.603027" x2="0.713623" y2="48.603" gradientUnits="userSpaceOnUse">
        <stop stop-color="#5C52C7"/>
        <stop offset="0.460644" stop-color="#C53187"/>
        <stop offset="1" stop-color="#FDC264"/>
      </linearGradient>
    </defs>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="icon-phone" viewBox="0 0 15 15">
      <path d="M0.519531 1.43359C0.355469 1.46094 0.246094 1.54297 0.136719 1.65234C0.0546875 1.78906 0 1.92578 0 2.0625C0 4.35938 0.574219 6.49219 1.72266 8.46094C2.87109 10.375 4.375 11.9062 6.28906 13.0273C8.25781 14.1758 10.3906 14.75 12.6875 14.75C12.8516 14.75 12.9883 14.7227 13.0977 14.6133C13.2344 14.5312 13.3164 14.3945 13.3164 14.2305L13.9727 11.3867C14.0273 11.25 14 11.1133 13.918 10.9492C13.8633 10.8125 13.7539 10.7031 13.5898 10.6484L10.5273 9.33594C10.418 9.28125 10.2812 9.28125 10.1172 9.30859C9.98047 9.33594 9.87109 9.41797 9.76172 9.52734L8.42188 11.168C7.35547 10.6758 6.39844 10.0195 5.57812 9.17188C4.75781 8.35156 4.07422 7.39453 3.58203 6.32812L5.22266 4.96094C5.33203 4.87891 5.41406 4.76953 5.44141 4.63281C5.49609 4.49609 5.46875 4.35938 5.41406 4.19531L4.10156 1.13281C4.04688 1.02344 3.96484 0.914062 3.80078 0.832031C3.66406 0.777344 3.52734 0.75 3.36328 0.777344L0.519531 1.43359Z"/>
    </symbol>
    <symbol id="icon-location" viewBox="0 0 15 15">
      <path d="M6.29688 14.4766C6.1875 14.668 5.99609 14.75 5.75 14.75C5.53125 14.75 5.33984 14.668 5.20312 14.4766L3.37109 11.8516C2.46875 10.5391 1.86719 9.66406 1.56641 9.19922C1.15625 8.54297 0.882812 7.99609 0.71875 7.55859C0.582031 7.12109 0.5 6.60156 0.5 6C0.5 5.07031 0.746094 4.19531 1.21094 3.375C1.70312 2.58203 2.33203 1.95312 3.125 1.46094C3.94531 0.996094 4.82031 0.75 5.75 0.75C6.70703 0.75 7.58203 0.996094 8.375 1.46094C9.19531 1.95312 9.82422 2.58203 10.2891 3.375C10.7812 4.19531 11 5.07031 11 6C11 6.60156 10.9453 7.12109 10.7812 7.55859C10.6445 7.99609 10.3711 8.54297 9.93359 9.19922C9.66016 9.66406 9.05859 10.5391 8.12891 11.8516C7.39062 12.918 6.78906 13.793 6.29688 14.4766ZM5.75 8.1875C6.35156 8.1875 6.87109 7.99609 7.30859 7.55859C7.74609 7.12109 7.9375 6.60156 7.9375 6C7.9375 5.39844 7.74609 4.90625 7.30859 4.46875C6.87109 4.03125 6.35156 3.8125 5.75 3.8125C5.14844 3.8125 4.65625 4.03125 4.21875 4.46875C3.78125 4.90625 3.5625 5.39844 3.5625 6C3.5625 6.60156 3.78125 7.12109 4.21875 7.55859C4.65625 7.99609 5.14844 8.1875 5.75 8.1875Z"/>
    </symbol>
    <symbol id="icon-user" viewBox="0 0 15 15">
      <path d="M6.875 7.75C7.53125 7.75 8.10547 7.61328 8.65234 7.28516C9.19922 6.98438 9.60938 6.57422 9.91016 6.02734C10.2383 5.48047 10.375 4.90625 10.375 4.25C10.375 3.62109 10.2383 3.04688 9.91016 2.5C9.60938 1.95312 9.19922 1.54297 8.65234 1.21484C8.10547 0.914062 7.53125 0.75 6.875 0.75C6.24609 0.75 5.67188 0.914062 5.125 1.21484C4.57812 1.54297 4.16797 1.95312 3.83984 2.5C3.53906 3.04688 3.375 3.62109 3.375 4.25C3.375 4.90625 3.53906 5.48047 3.83984 6.02734C4.16797 6.57422 4.57812 6.98438 5.125 7.28516C5.67188 7.61328 6.24609 7.75 6.875 7.75ZM4.41406 8.625C3.75781 8.625 3.15625 8.78906 2.58203 9.11719C2.03516 9.44531 1.57031 9.91016 1.24219 10.457C0.914062 11.0312 0.75 11.6328 0.75 12.2891V13.4375C0.75 13.8203 0.886719 14.1211 1.13281 14.3672C1.40625 14.6406 1.70703 14.75 2.0625 14.75H11.6875C12.0703 14.75 12.3711 14.6406 12.6172 14.3672C12.8906 14.1211 13 13.8203 13 13.4375V12.2891C13 11.6328 12.8359 11.0312 12.5078 10.457C12.1797 9.91016 11.7422 9.44531 11.168 9.11719C10.6211 8.78906 9.99219 8.625 9.33594 8.625H8.87109C8.24219 8.92578 7.58594 9.0625 6.875 9.0625C6.19141 9.0625 5.53516 8.92578 4.87891 8.625H4.41406Z"/>
    </symbol>
    <symbol id="icon-search" viewBox="0 0 20 21">
      <path d="M19.7266 17.8047C19.8828 18 20 18.2344 20 18.4688C20 18.7422 19.8828 18.9766 19.7266 19.1328L18.6328 20.2266C18.4375 20.4219 18.2031 20.5 17.9688 20.5C17.6953 20.5 17.4609 20.4219 17.3047 20.2266L13.3984 16.3203C13.2031 16.1641 13.125 15.9297 13.125 15.6562V15.0312C11.6406 16.2031 10 16.75 8.125 16.75C6.64062 16.75 5.27344 16.3984 4.02344 15.6562C2.77344 14.9531 1.79688 13.9766 1.09375 12.7266C0.351562 11.4766 0 10.1094 0 8.625C0 7.14062 0.351562 5.8125 1.09375 4.5625C1.79688 3.3125 2.77344 2.33594 4.02344 1.59375C5.27344 0.890625 6.64062 0.5 8.125 0.5C9.60938 0.5 10.9375 0.890625 12.1875 1.59375C13.4375 2.33594 14.4141 3.3125 15.1562 4.5625C15.8594 5.8125 16.25 7.14062 16.25 8.625C16.25 10.5 15.6641 12.1797 14.5312 13.625H15.1562C15.3906 13.625 15.625 13.7422 15.8203 13.8984L19.7266 17.8047ZM8.125 13.625C9.02344 13.625 9.84375 13.4297 10.625 12.9609C11.4062 12.5312 11.9922 11.9453 12.4609 11.1641C12.8906 10.3828 13.125 9.5625 13.125 8.625C13.125 7.72656 12.8906 6.90625 12.4609 6.125C11.9922 5.34375 11.4062 4.75781 10.625 4.28906C9.84375 3.85938 9.02344 3.625 8.125 3.625C7.1875 3.625 6.36719 3.85938 5.58594 4.28906C4.80469 4.75781 4.21875 5.34375 3.78906 6.125C3.32031 6.90625 3.125 7.72656 3.125 8.625C3.125 9.5625 3.32031 10.3828 3.78906 11.1641C4.21875 11.9453 4.80469 12.5312 5.58594 12.9609C6.36719 13.4297 7.1875 13.625 8.125 13.625Z"/>
    </symbol>
    <symbol id="icon-caret" viewBox="0 0 9 6">
      <path d="M7.87891 0.625C8.07031 0.625 8.23438 0.707031 8.34375 0.816406C8.48047 0.953125 8.53516 1.11719 8.53516 1.28125C8.53516 1.47266 8.48047 1.63672 8.34375 1.74609L5.08984 5C4.98047 5.13672 4.81641 5.19141 4.625 5.19141C4.46094 5.19141 4.29688 5.13672 4.16016 5L0.90625 1.74609C0.796875 1.63672 0.714844 1.47266 0.714844 1.28125C0.714844 1.11719 0.796875 0.953125 0.90625 0.816406C1.04297 0.707031 1.20703 0.625 1.37109 0.625H7.87891Z"/>
    </symbol>
    <symbol id="icon-message" viewBox="0 0 31 23">
      <path d="M1.29956 7.54443C2.70581 8.65771 5.75269 10.8843 10.323 14.1655L10.9089 14.6343C11.8464 15.3374 12.5496 15.8647 13.1355 16.1577C14.073 16.7437 14.9519 16.978 15.7136 16.978C16.5339 16.978 17.3542 16.7437 18.2917 16.2163C18.8777 15.9233 19.5808 15.396 20.5183 14.6929L21.1042 14.1655C25.8503 10.7671 28.8386 8.54053 30.1277 7.54443C30.2449 7.48584 30.4207 7.48584 30.5378 7.54443C30.655 7.60303 30.7136 7.72021 30.7136 7.8374V19.7905C30.7136 20.6108 30.4792 21.2554 29.8933 21.7827C29.366 22.3687 28.7214 22.603 27.9011 22.603H3.52612C2.7644 22.603 2.11987 22.3687 1.53394 21.7827C1.00659 21.2554 0.713623 20.6108 0.713623 19.7905V7.8374C0.713623 7.72021 0.830811 7.60303 0.947998 7.48584C1.06519 7.42725 1.18237 7.42725 1.29956 7.54443ZM15.7136 15.103C16.241 15.103 16.8855 14.8687 17.5886 14.3999C18.0574 14.1655 18.6433 13.7554 19.405 13.1108L19.991 12.7007C24.7957 9.18506 28.0769 6.78271 29.7761 5.43506L30.1863 5.14209C30.5378 4.90771 30.7136 4.49756 30.7136 4.02881V2.91553C30.7136 2.15381 30.4792 1.50928 29.8933 0.92334C29.366 0.395996 28.7214 0.103027 27.9011 0.103027H3.52612C2.7644 0.103027 2.11987 0.395996 1.53394 0.92334C1.00659 1.50928 0.713623 2.15381 0.713623 2.91553V4.02881C0.713623 4.49756 0.889404 4.90771 1.24097 5.14209L1.53394 5.37646C3.23315 6.72412 6.5144 9.18506 11.4363 12.7007L12.0222 13.1108C12.8425 13.7554 13.4285 14.1655 13.8386 14.3999C14.6003 14.8687 15.2449 15.103 15.7136 15.103Z"/>
    </symbol>
    <symbol id="more-arrow" viewBox="0 0 20 9">
      <path d="M13.6349 8.56781C13.2956 8.56781 13.0694 8.48999 12.8432 8.33435C12.3908 8.02308 12.3908 7.55616 12.8432 7.24489L16.5756 4.67688L12.8432 2.18668C12.3908 1.87541 12.3908 1.4085 12.8432 1.09723C13.2956 0.785951 13.9742 0.785951 14.4266 1.09723L18.9507 4.13215C19.4032 4.44342 19.4032 4.91033 18.9507 5.22161L14.4266 8.41217C14.3135 8.48999 13.9742 8.56781 13.6349 8.56781Z"/>
      <path d="M17.8274 5.33705H1.4658C0.913047 5.33705 0.360291 5.03883 0.360291 4.5915C0.360291 4.14417 0.802496 3.84595 1.4658 3.84595H17.8274C18.3801 3.84595 18.9329 4.14417 18.9329 4.5915C18.9329 5.03883 18.3801 5.33705 17.8274 5.33705Z"/>
    </symbol>
    <symbol id="male-default" viewBox="0 0 50 50">
      <path d="M39.7667 36.9127C33.0401 34.4873 30.8909 32.4405 30.8909 28.0593C30.8909 27.576 30.9605 27.2115 31.0791 26.907C31.607 25.5535 33.1099 25.4031 33.8458 21.4714C34.2203 19.4731 36.0344 21.4389 36.3812 16.8779C36.3812 15.0605 35.3909 14.6082 35.3909 14.6082C35.3909 14.6082 35.894 11.9176 36.0912 9.8476C36.3359 7.26802 34.5852 0.603027 25.2491 0.603027C25.2088 0.603027 25.1708 0.605253 25.1314 0.60581C25.0916 0.605142 25.0537 0.603027 25.0129 0.603027C15.677 0.603027 13.9266 7.26802 14.1709 9.8476C14.3681 11.9176 14.8715 14.6082 14.8715 14.6082C14.8715 14.6082 13.8812 15.0604 13.8812 16.8779C14.2285 21.4389 16.0424 19.4729 16.4166 21.4714C17.1527 25.4031 18.6559 25.5535 19.1836 26.907C19.302 27.2113 19.3716 27.576 19.3716 28.0593C19.3716 32.4405 17.222 34.4873 10.4955 36.9127C3.74821 39.3457 0.713623 41.8268 0.713623 43.519C0.713623 45.2089 0.713623 54.603 0.713623 54.603H25.1144H25.1481H49.5489C49.5489 54.603 49.5489 45.2089 49.5489 43.519C49.5489 41.8268 46.5147 39.3457 39.7667 36.9127Z"/>
    </symbol>
    <symbol id="female-default" viewBox="0 0 47 52">
      <path d="M37.6238 35.4481C31.1006 33.0966 29.0161 34.2814 29.0161 30.0325C29.0161 29.8296 29.0289 29.4485 29.0528 29.0586H29.3719C33.8298 29.3837 38.1248 29.6944 39.0805 29.0262C40.6071 27.9597 35.3232 26.3164 35.3232 12.5204C35.3232 5.54967 30.7291 0.603135 23.7583 0.603135C23.699 0.603135 23.6408 0.606697 23.5824 0.607777C23.566 0.607345 23.5493 0.607129 23.5333 0.606265V0.60497C23.5072 0.60497 23.4811 0.603027 23.4548 0.603027C23.4466 0.603027 23.4387 0.603459 23.4303 0.603459C23.4225 0.603459 23.4146 0.603027 23.4063 0.603027C23.3986 0.603027 23.3909 0.603459 23.3833 0.603675C23.3757 0.603459 23.3681 0.603027 23.3604 0.603027C23.3522 0.603027 23.3443 0.603459 23.3363 0.603459C23.3281 0.603459 23.3201 0.603027 23.3118 0.603027C23.2857 0.603027 23.2596 0.60497 23.2334 0.60497V0.606265C23.2173 0.607129 23.2007 0.607345 23.1842 0.607777C23.1257 0.606697 23.0676 0.603135 23.0084 0.603135C16.0377 0.603135 11.4435 5.54967 11.4435 12.5204C11.4435 26.3163 6.1599 27.9598 7.68613 29.0262C8.64202 29.6941 12.9369 29.3836 17.3948 29.0586H17.7141C17.7379 29.4485 17.7506 29.83 17.7506 30.0325C17.7506 34.2814 15.666 33.0966 9.14295 35.4481C2.59982 37.8079 0.713623 40.2137 0.713623 41.8547C0.713623 43.4933 0.713623 52.603 0.713623 52.603H23.3197H23.3523H23.3832H23.414H23.4466H46.0528C46.0528 52.603 46.0528 43.4933 46.0528 41.8547C46.0531 40.2139 44.167 37.8081 37.6238 35.4481Z"/>
    </symbol>
    <symbol id="arrow-next" viewBox="0 0 9 17">
      <path d="M1.50035 16.2764C1.39368 16.3831 1.26035 16.4364 1.11368 16.4364C0.967017 16.4364 0.833683 16.3831 0.727017 16.2764C0.513683 16.0631 0.513683 15.7164 0.727017 15.5031L7.52702 8.70306L0.727017 1.90306C0.513683 1.68973 0.513683 1.34306 0.727017 1.12973C0.94035 0.916393 1.28702 0.916393 1.50035 1.12973L8.68702 8.31639C8.90035 8.52973 8.90035 8.87639 8.68702 9.08973L1.50035 16.2764Z">
    </symbol>
    <symbol id="arrow-prev" viewBox="0 0 9 17">
      <path d="M7.9269 0.929662C8.03356 0.822995 8.1669 0.769662 8.31356 0.769662C8.46023 0.769662 8.59356 0.822995 8.70023 0.929662C8.91356 1.14299 8.91356 1.48966 8.70023 1.70299L1.90023 8.503L8.70023 15.303C8.91356 15.5163 8.91356 15.863 8.70023 16.0763C8.4869 16.2897 8.14023 16.2897 7.9269 16.0763L0.74023 8.88966C0.526896 8.67633 0.526896 8.32966 0.74023 8.11633L7.9269 0.929662Z"/>
    </symbol>
    <symbol id="facebook" viewBox="0 0 43 43">
      <path d="M41.9858 21.0228C41.9858 9.41399 32.5852 0 20.9929 0C9.40061 0 0 9.41399 0 21.0228C0 32.6315 9.40061 42.0455 20.9929 42.0455C21.1162 42.0455 21.2389 42.0429 21.3619 42.0407V25.6754H16.8517V20.4117H21.3619V16.5382C21.3619 12.046 24.1004 9.601 28.1019 9.601C30.0181 9.601 31.6652 9.74407 32.1454 9.80791V14.5029H29.3861C27.2091 14.5029 26.7876 15.539 26.7876 17.0592V20.4117H31.9929L31.3144 25.6754H26.7876V41.2333C35.5623 38.7142 41.9858 30.6186 41.9858 21.0228Z" fill="#E5EDF1"/>
    </symbol>
    <symbol id="instagram" viewBox="0 0 43 43">
      <path d="M25.6777 20.9928C25.6777 23.212 23.8787 25.011 21.6595 25.011C19.4403 25.011 17.6414 23.212 17.6414 20.9928C17.6414 18.7736 19.4403 16.9746 21.6595 16.9746C23.8787 16.9746 25.6777 18.7736 25.6777 20.9928Z" fill="#E5EDF1"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M31.0566 13.8834C30.8635 13.36 30.5553 12.8862 30.1549 12.4974C29.7661 12.097 29.2926 11.7888 28.7689 11.5956C28.3441 11.4307 27.706 11.2343 26.5308 11.1808C25.2594 11.1228 24.8782 11.1104 21.6596 11.1104C18.4406 11.1104 18.0594 11.1225 16.7884 11.1805C15.6131 11.2343 14.9747 11.4307 14.5502 11.5956C14.0265 11.7888 13.5527 12.097 13.1642 12.4974C12.7638 12.8862 12.4556 13.3597 12.2621 13.8834C12.0972 14.3082 11.9008 14.9466 11.8473 16.1219C11.7893 17.3929 11.7769 17.7741 11.7769 20.9931C11.7769 24.2117 11.7893 24.5929 11.8473 25.8643C11.9008 27.0395 12.0972 27.6776 12.2621 28.1024C12.4556 28.6261 12.7635 29.0996 13.1639 29.4884C13.5527 29.8888 14.0262 30.197 14.5499 30.3901C14.9747 30.5554 15.6131 30.7518 16.7884 30.8053C18.0594 30.8633 18.4403 30.8754 21.6592 30.8754C24.8785 30.8754 25.2597 30.8633 26.5304 30.8053C27.7057 30.7518 28.3441 30.5554 28.7689 30.3901C29.8202 29.9846 30.6511 29.1537 31.0566 28.1024C31.2216 27.6776 31.418 27.0395 31.4718 25.8643C31.5298 24.5929 31.5419 24.2117 31.5419 20.9931C31.5419 17.7741 31.5298 17.3929 31.4718 16.1219C31.4183 14.9466 31.2219 14.3082 31.0566 13.8834ZM21.6595 27.1829C18.2407 27.1829 15.4692 24.4117 15.4692 20.9929C15.4692 17.5741 18.2407 14.8029 21.6595 14.8029C25.0781 14.8029 27.8495 17.5741 27.8495 20.9929C27.8495 24.4117 25.0781 27.1829 21.6595 27.1829ZM26.6477 14.5582C26.6477 15.3571 27.2954 16.0048 28.0942 16.0048C28.8931 16.0048 29.5405 15.3571 29.5408 14.5582C29.5408 13.7593 28.8931 13.1116 28.0942 13.1116C27.2954 13.1116 26.6477 13.7593 26.6477 14.5582Z" fill="#E5EDF1"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.666748 20.9929C0.666748 9.40061 10.0674 0 21.6596 0C33.2519 0 42.6525 9.40061 42.6525 20.9929C42.6525 32.5852 33.2519 41.9858 21.6596 41.9858C10.0674 41.9858 0.666748 32.5852 0.666748 20.9929ZM33.0811 28.8889C33.379 28.1221 33.583 27.246 33.6413 25.9628C33.7003 24.6773 33.7141 24.2666 33.7141 20.9929C33.7141 17.7192 33.7003 17.3085 33.6417 16.023C33.583 14.7398 33.3793 13.8637 33.0811 13.0969C32.7787 12.2925 32.304 11.5641 31.6909 10.9619C31.0887 10.3485 30.3599 9.87373 29.5556 9.57103C28.7887 9.27344 27.9126 9.06972 26.6294 9.01142C25.3439 8.95248 24.9333 8.93838 21.6595 8.93838C18.3858 8.93838 17.9751 8.95248 16.6897 9.0111C15.4064 9.06972 14.5304 9.27344 13.7635 9.57135C12.9592 9.87405 12.2304 10.3485 11.6285 10.9619C11.0151 11.5638 10.5404 12.2925 10.2377 13.0969C9.93976 13.8637 9.73603 14.7398 9.67773 16.023C9.61879 17.3085 9.60502 17.7192 9.60502 20.9929C9.60502 24.2666 9.61879 24.6773 9.67805 25.9631C9.73635 27.246 9.9404 28.1224 10.2383 28.8889C10.541 29.6933 11.0154 30.422 11.6285 31.0239C12.2307 31.6373 12.9592 32.1117 13.7638 32.4144C14.5304 32.7124 15.4068 32.9161 16.6897 32.9747C17.9755 33.0333 18.3858 33.0474 21.6599 33.0474C24.9336 33.0474 25.3442 33.0333 26.6297 32.9747C27.9126 32.9161 28.789 32.7124 29.5556 32.4144C31.1748 31.7882 32.4548 30.5082 33.0811 28.8889Z" fill="#E5EDF1"/>
    </symbol>
    <symbol id="youtube" viewBox="0 0 43 43">
      <path d="M19.0234 24.926L25.8522 20.993L19.0234 17.0601L19.0234 24.926Z" fill="#E5EDF1"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.645264 20.9929C0.645264 9.40061 10.0459 0 21.6382 0C33.2304 0 42.6311 9.40061 42.6311 20.9929C42.6311 32.5852 33.2304 41.9858 21.6382 41.9858C10.0459 41.9858 0.645264 32.5852 0.645264 20.9929ZM34.2155 27.3248C34.7556 25.2718 34.7556 21.0144 34.7556 21.0144C34.7556 21.0144 34.7774 16.7358 34.2155 14.6828C33.9128 13.5591 33.0268 12.6727 31.9031 12.3704C29.8501 11.8085 21.6382 11.8085 21.6382 11.8085C21.6382 11.8085 13.4263 11.8085 11.3734 12.3489C10.2711 12.6513 9.36333 13.5591 9.06094 14.6828C8.52055 16.7358 8.52055 20.9929 8.52055 20.9929C8.52055 20.9929 8.52055 25.2718 9.06094 27.303C9.36365 28.4267 10.2497 29.3131 11.3734 29.6154C13.4478 30.1773 21.6382 30.1773 21.6382 30.1773C21.6382 30.1773 29.8501 30.1773 31.9031 29.6369C33.0268 29.3345 33.9128 28.4485 34.2155 27.3248Z" fill="#E5EDF1"/>
    </symbol>
    <symbol id="skype" viewBox="0 0 43 43">
      <path d="M23.9489 19.4968L21.0621 18.8562C19.964 18.606 18.7 18.2754 18.7 17.2401C18.7 16.2026 19.5867 15.4777 21.1873 15.4777C24.4134 15.4777 24.1187 17.6947 25.7203 17.6947C26.5631 17.6947 27.3008 17.1991 27.3008 16.347C27.3008 14.3588 24.1187 12.8667 21.4193 12.8667C18.4889 12.8667 15.3683 14.1112 15.3683 17.4256C15.3683 19.0218 15.9385 20.7198 19.0796 21.5075L22.9799 22.4813C24.1603 22.7721 24.4556 23.4362 24.4556 24.0352C24.4556 25.0314 23.4661 26.0046 21.6736 26.0046C18.1721 26.0046 18.6581 23.31 16.7816 23.31C15.9385 23.31 15.3267 23.8907 15.3267 24.7194C15.3267 26.3351 17.2883 28.4913 21.6736 28.4913C25.8459 28.4913 27.9132 26.4802 27.9132 23.7869C27.9132 22.0479 27.1115 20.2015 23.9489 19.4968Z" fill="#E5EDF1"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.624023 20.9929C0.624023 9.40061 10.0246 0 21.6169 0C33.2092 0 42.6098 9.40061 42.6098 20.9929C42.6098 32.5852 33.2092 41.9858 21.6169 41.9858C10.0246 41.9858 0.624023 32.5852 0.624023 20.9929ZM27.3809 34.0315C29.3323 34.0315 31.1665 33.2726 32.5468 31.8917C33.9274 30.5124 34.6869 28.6769 34.6872 26.7251C34.6872 25.4784 34.3659 24.2532 33.7618 23.1698C33.8966 22.4353 33.9674 21.6835 33.9674 20.9324C33.9674 19.266 33.6413 17.6497 32.9968 16.1278C32.3751 14.6578 31.4855 13.3377 30.3513 12.2041C29.2186 11.0708 27.8976 10.1809 26.4282 9.55917C24.907 8.91564 23.2903 8.58923 21.6243 8.58923C20.8388 8.58923 20.0524 8.66322 19.2869 8.80993C19.2858 8.81036 19.2844 8.8105 19.2831 8.81064C19.2824 8.81071 19.2817 8.81079 19.2811 8.81089C18.2311 8.25256 17.0497 7.95434 15.8542 7.95434C13.9025 7.95434 12.0674 8.71447 10.6871 10.0951C9.30742 11.475 8.54697 13.3102 8.54697 15.2619C8.54697 16.5045 8.86633 17.7256 9.46631 18.8047C9.34458 19.504 9.28052 20.2187 9.28052 20.9324C9.28052 22.599 9.60661 24.2151 10.2511 25.7372C10.8722 27.2075 11.7621 28.527 12.8951 29.6603C14.0294 30.7939 15.3488 31.6847 16.8197 32.3049C18.3409 32.9497 19.9579 33.2764 21.6243 33.2764C22.3495 33.2764 23.0763 33.2101 23.7858 33.0843C24.8791 33.7028 26.1169 34.0315 27.3809 34.0315Z" fill="#E5EDF1"/>
    </symbol>
    <symbol id="linkedIn" viewBox="0 0 112.196 112.196">
      <g>
        <g>
          <circle style="fill:#E5EDF1" cx="56.098" cy="56.097" r="56.098" data-original="#007AB9" class="" data-old_color="#007AB9"/>
          <g>
            <path d="M89.616,60.611v23.128H76.207V62.161c0-5.418-1.936-9.118-6.791-9.118    c-3.705,0-5.906,2.491-6.878,4.903c-0.353,0.862-0.444,2.059-0.444,3.268v22.524H48.684c0,0,0.18-36.546,0-40.329h13.411v5.715    c-0.027,0.045-0.065,0.089-0.089,0.132h0.089v-0.132c1.782-2.742,4.96-6.662,12.085-6.662    C83.002,42.462,89.616,48.226,89.616,60.611L89.616,60.611z M34.656,23.969c-4.587,0-7.588,3.011-7.588,6.967    c0,3.872,2.914,6.97,7.412,6.97h0.087c4.677,0,7.585-3.098,7.585-6.97C42.063,26.98,39.244,23.969,34.656,23.969L34.656,23.969z     M27.865,83.739H41.27V43.409H27.865V83.739z"/>
          </g>
        </g>
      </g>
    </symbol>
    <symbol id="facebook-color" viewBox="0 0 49 49">
      <path d="M48.7136 24.6372C48.7136 11.3655 37.9664 0.603027 24.7136 0.603027C11.4608 0.603027 0.713623 11.3655 0.713623 24.6372C0.713623 37.9088 11.4608 48.6713 24.7136 48.6713C24.8546 48.6713 24.9949 48.6684 25.1355 48.6658V29.9562H19.9792V23.9385H25.1355V19.5103C25.1355 14.3745 28.2662 11.5793 32.8409 11.5793C35.0316 11.5793 36.9147 11.7429 37.4636 11.8159V17.1833H34.3091C31.8203 17.1833 31.3384 18.3679 31.3384 20.1058V23.9385H37.2893L36.5137 29.9562H31.3384V47.7427C41.37 44.8628 48.7136 35.6076 48.7136 24.6372Z">
    </symbol>
    <symbol id="youtube-color" viewBox="0 0 49 49">
      <path d="M21.7244 29.0989L29.5312 24.6025L21.7244 20.1062L21.7244 29.0989Z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.713623 24.603C0.713623 11.3502 11.4608 0.603027 24.7136 0.603027C37.9664 0.603027 48.7136 11.3502 48.7136 24.603C48.7136 37.8558 37.9664 48.603 24.7136 48.603C11.4608 48.603 0.713623 37.8558 0.713623 24.603ZM39.0928 31.8419C39.7103 29.4949 39.7103 24.6276 39.7103 24.6276C39.7103 24.6276 39.7352 19.7361 39.0928 17.389C38.7468 16.1044 37.7338 15.0911 36.4492 14.7454C34.1021 14.103 24.7139 14.103 24.7139 14.103C24.7139 14.103 15.3258 14.103 12.9787 14.7208C11.7186 15.0665 10.6807 16.1044 10.335 17.389C9.71724 19.7361 9.71724 24.603 9.71724 24.603C9.71724 24.603 9.71724 29.4949 10.335 31.817C10.6811 33.1017 11.694 34.115 12.9787 34.4607C15.3503 35.103 24.7139 35.103 24.7139 35.103C24.7139 35.103 34.1021 35.103 36.4492 34.4852C37.7338 34.1395 38.7468 33.1266 39.0928 31.8419Z"/>
    </symbol>
    <symbol id="skype-color" viewBox="0 0 49 49">
      <path d="M27.3799 22.8928L24.0796 22.1604C22.8242 21.8744 21.3792 21.4965 21.3792 20.3129C21.3792 19.1267 22.3928 18.298 24.2228 18.298C27.9109 18.298 27.574 20.8325 29.405 20.8325C30.3685 20.8325 31.2119 20.266 31.2119 19.2919C31.2119 17.0188 27.574 15.313 24.4879 15.313C21.1378 15.313 17.5702 16.7357 17.5702 20.5249C17.5702 22.3497 18.222 24.291 21.8131 25.1915L26.2721 26.3048C27.6216 26.6373 27.9592 27.3965 27.9592 28.0813C27.9592 29.2202 26.828 30.3328 24.7787 30.3328C20.7756 30.3328 21.3312 27.2522 19.1859 27.2522C18.222 27.2522 17.5226 27.9161 17.5226 28.8635C17.5226 30.7107 19.7653 33.1757 24.7787 33.1757C29.5486 33.1757 31.9121 30.8766 31.9121 27.7975C31.9121 25.8093 30.9955 23.6985 27.3799 22.8928Z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.713623 24.603C0.713623 11.3502 11.4608 0.603027 24.7136 0.603027C37.9664 0.603027 48.7136 11.3502 48.7136 24.603C48.7136 37.8558 37.9664 48.603 24.7136 48.603C11.4608 48.603 0.713623 37.8558 0.713623 24.603ZM31.3033 39.5093C33.5343 39.5093 35.6312 38.6417 37.2092 37.063C38.7876 35.4861 39.6559 33.3877 39.6562 31.1564C39.6562 29.7311 39.2889 28.3303 38.5983 27.0918C38.7524 26.2521 38.8334 25.3926 38.8334 24.5338C38.8334 22.6288 38.4606 20.7809 37.7237 19.041C37.0129 17.3605 35.996 15.8513 34.6992 14.5553C33.4043 13.2596 31.894 12.2423 30.2142 11.5315C28.4751 10.7958 26.6268 10.4226 24.7222 10.4226C23.8242 10.4226 22.9252 10.5072 22.0499 10.6749C22.0491 10.6753 22.0481 10.6754 22.0471 10.6756C22.0458 10.6757 22.0445 10.6758 22.0433 10.676C20.8429 10.0377 19.4923 9.69678 18.1256 9.69678C15.8943 9.69678 13.7963 10.5658 12.2182 12.1442C10.641 13.7218 9.77159 15.8198 9.77159 18.0511C9.77159 19.4717 10.1367 20.8677 10.8226 22.1014C10.6835 22.9009 10.6102 23.7179 10.6102 24.5338C10.6102 26.4392 10.983 28.2867 11.7198 30.027C12.4299 31.7079 13.4473 33.2163 14.7425 34.512C16.0393 35.808 17.5477 36.8264 19.2294 37.5354C20.9685 38.2726 22.8171 38.6461 24.7222 38.6461C25.5513 38.6461 26.3822 38.5703 27.1933 38.4264C28.4432 39.1335 29.8583 39.5093 31.3033 39.5093Z"/>
    </symbol>
    <symbol id="instagram-color" viewBox="0 0 49 49">
      <path id="first-inst" d="M29.3074 24.603C29.3074 27.1401 27.2507 29.1968 24.7136 29.1968C22.1765 29.1968 20.1199 27.1401 20.1199 24.603C20.1199 22.0659 22.1765 20.0093 24.7136 20.0093C27.2507 20.0093 29.3074 22.0659 29.3074 24.603Z" fill="url(#paint0_linear)"/>
      <path id="second-inst" fill-rule="evenodd" clip-rule="evenodd" d="M35.457 16.4755C35.2362 15.8771 34.8839 15.3354 34.4261 14.8909C33.9816 14.4331 33.4403 14.0808 32.8416 13.86C32.356 13.6714 31.6265 13.4469 30.2828 13.3857C28.8293 13.3195 28.3936 13.3052 24.7139 13.3052C21.0338 13.3052 20.598 13.3191 19.1449 13.3854C17.8013 13.4469 17.0714 13.6714 16.5862 13.86C15.9874 14.0808 15.4458 14.4331 15.0016 14.8909C14.5438 15.3354 14.1915 15.8767 13.9703 16.4755C13.7817 16.9611 13.5573 17.6909 13.4961 19.0345C13.4298 20.4877 13.4155 20.9235 13.4155 24.6035C13.4155 28.2832 13.4298 28.719 13.4961 30.1725C13.5573 31.5161 13.7817 32.2456 13.9703 32.7312C14.1915 33.33 14.5435 33.8712 15.0012 34.3158C15.4458 34.7736 15.9871 35.1259 16.5858 35.3467C17.0714 35.5356 17.8013 35.7601 19.1449 35.8213C20.598 35.8876 21.0334 35.9015 24.7135 35.9015C28.3939 35.9015 28.8297 35.8876 30.2825 35.8213C31.6261 35.7601 32.356 35.5356 32.8416 35.3467C34.0435 34.8831 34.9934 33.9331 35.457 32.7312C35.6456 32.2456 35.8701 31.5161 35.9316 30.1725C35.9979 28.719 36.0118 28.2832 36.0118 24.6035C36.0118 20.9235 35.9979 20.4877 35.9316 19.0345C35.8705 17.6909 35.646 16.9611 35.457 16.4755ZM24.7135 31.6795C20.805 31.6795 17.6365 28.5114 17.6365 24.6028C17.6365 20.6942 20.805 17.5261 24.7135 17.5261C28.6217 17.5261 31.7902 20.6942 31.7902 24.6028C31.7902 28.5114 28.6217 31.6795 24.7135 31.6795ZM30.416 17.2464C30.416 18.1597 31.1565 18.9002 32.0699 18.9002C32.9832 18.9002 33.7233 18.1597 33.7237 17.2464C33.7237 16.333 32.9832 15.5926 32.0699 15.5926C31.1565 15.5926 30.416 16.333 30.416 17.2464Z" fill="url(#paint1_linear)"/>
      <path id="third-inst" fill-rule="evenodd" clip-rule="evenodd" d="M0.713623 24.603C0.713623 11.3502 11.4608 0.603027 24.7136 0.603027C37.9664 0.603027 48.7136 11.3502 48.7136 24.603C48.7136 37.8558 37.9664 48.603 24.7136 48.603C11.4608 48.603 0.713623 37.8558 0.713623 24.603ZM37.7712 33.6301C38.1118 32.7534 38.3451 31.7518 38.4117 30.2848C38.4791 28.8152 38.4949 28.3457 38.4949 24.603C38.4949 20.8604 38.4791 20.3909 38.4121 18.9213C38.3451 17.4542 38.1122 16.4526 37.7712 15.5759C37.4255 14.6564 36.8828 13.8236 36.1819 13.1351C35.4934 12.4338 34.6603 11.8911 33.7407 11.545C32.864 11.2048 31.8624 10.9719 30.3954 10.9053C28.9258 10.8379 28.4563 10.8218 24.7136 10.8218C20.9709 10.8218 20.5015 10.8379 19.0319 10.9049C17.5648 10.9719 16.5632 11.2048 15.6865 11.5454C14.767 11.8915 13.9338 12.4338 13.2457 13.1351C12.5444 13.8232 12.0017 14.6564 11.6556 15.5759C11.3151 16.4526 11.0822 17.4542 11.0155 18.9213C10.9481 20.3909 10.9324 20.8604 10.9324 24.603C10.9324 28.3457 10.9481 28.8152 11.0159 30.2852C11.0825 31.7518 11.3158 32.7538 11.6564 33.6301C12.0024 34.5497 12.5448 35.3828 13.2457 36.0709C13.9342 36.7722 14.767 37.3146 15.6869 37.6606C16.5632 38.0012 17.5652 38.2341 19.0319 38.3011C20.5018 38.3682 20.9709 38.3843 24.714 38.3843C28.4567 38.3843 28.9261 38.3682 30.3958 38.3011C31.8624 38.2341 32.8644 38.0012 33.7407 37.6606C35.5919 36.9447 37.0553 35.4813 37.7712 33.6301Z" fill="url(#paint2_linear)"/>
    </symbol>
    <symbol id="linkedIn-color" viewBox="0 0 112.196 112.196">
      <g>
        <g>
          <circle style="fill:#007AB9" cx="56.098" cy="56.097" r="56.098" data-original="#007AB9" class="" data-old_color="#007AB9"/>
          <g>
            <path d="M89.616,60.611v23.128H76.207V62.161c0-5.418-1.936-9.118-6.791-9.118    c-3.705,0-5.906,2.491-6.878,4.903c-0.353,0.862-0.444,2.059-0.444,3.268v22.524H48.684c0,0,0.18-36.546,0-40.329h13.411v5.715    c-0.027,0.045-0.065,0.089-0.089,0.132h0.089v-0.132c1.782-2.742,4.96-6.662,12.085-6.662    C83.002,42.462,89.616,48.226,89.616,60.611L89.616,60.611z M34.656,23.969c-4.587,0-7.588,3.011-7.588,6.967    c0,3.872,2.914,6.97,7.412,6.97h0.087c4.677,0,7.585-3.098,7.585-6.97C42.063,26.98,39.244,23.969,34.656,23.969L34.656,23.969z     M27.865,83.739H41.27V43.409H27.865V83.739z"/>
          </g>
        </g>
      </g>
    </symbol>
    <symbol id="icon-clip" viewBox="0 0 20 23">
      <path d="M2.56128 20.3765C3.37769 21.2358 4.36597 21.8374 5.48315 22.1382C6.60034 22.439 7.71753 22.439 8.83472 22.1382C9.9519 21.8804 10.9402 21.2788 11.7996 20.4194L19.1902 12.8569C19.3191 12.728 19.405 12.5562 19.405 12.3843C19.405 12.2124 19.3191 12.0405 19.1902 11.8687L18.2019 10.9233C18.03 10.7944 17.8582 10.7085 17.6863 10.7085C17.5144 10.7085 17.3425 10.7944 17.2136 10.9233L9.823 18.4858C9.09253 19.2593 8.23315 19.603 7.2019 19.603C6.17065 19.603 5.26831 19.2593 4.53784 18.4858C3.80737 17.7124 3.46362 16.8101 3.46362 15.7358C3.46362 14.6616 3.80737 13.7163 4.58081 12.9429L13.6042 3.74756C14.0339 3.31787 14.5066 3.10303 15.1082 3.10303C15.6667 3.10303 16.1394 3.31787 16.5691 3.74756C16.9988 4.17725 17.2136 4.69287 17.2136 5.29443C17.2136 5.896 16.9988 6.45459 16.5691 6.88428L8.70581 14.8765C8.61987 15.0054 8.49097 15.0483 8.36206 15.0483C8.23315 15.0483 8.10425 15.0054 8.01831 14.9194C7.93237 14.8335 7.8894 14.7046 7.8894 14.5327C7.8894 14.3608 7.97534 14.2319 8.06128 14.103L14.2488 7.78662C14.3777 7.65771 14.4636 7.48584 14.4636 7.31396C14.4636 7.14209 14.3777 6.97021 14.2488 6.79834L13.2605 5.85303C13.0886 5.72412 12.9167 5.68115 12.7449 5.68115C12.573 5.68115 12.4011 5.76709 12.2722 5.85303L6.12769 12.1694C5.48315 12.814 5.1394 13.5874 5.1394 14.4897C5.1394 15.3921 5.44019 16.1655 6.04175 16.8101C6.64331 17.4546 7.41675 17.7983 8.36206 17.7983C9.2644 17.7983 10.0378 17.4976 10.6824 16.8101L18.5457 8.7749C19.1472 8.17334 19.5769 7.44287 19.7917 6.5835C20.0066 5.72412 20.0066 4.90771 19.7917 4.04834C19.5769 3.18896 19.1472 2.4585 18.5457 1.81396C17.9011 1.2124 17.1707 0.782715 16.3542 0.524902C15.4949 0.310059 14.6785 0.310059 13.8191 0.524902C12.9597 0.782715 12.2292 1.2124 11.6277 1.81396L2.64722 11.0522C1.78784 11.9116 1.22925 12.8999 0.928467 14.0171C0.627686 15.1343 0.627686 16.2944 0.928467 17.4116C1.18628 18.5718 1.74487 19.5601 2.56128 20.3765Z" />
    </symbol>
    <symbol id="write-bg" viewBox="0 0 1920 686">
      <path opacity="0.8" fill-rule="evenodd" clip-rule="evenodd" d="M793.543 601.906L1036.25 657.94L1040.67 638.809C1058.74 641.759 1076.19 644.623 1093.01 647.384C1246.66 672.601 1348.12 689.252 1397.21 685.103C1468.21 679.103 1592.71 609.603 1592.71 609.603V305.952L1656.1 31.4042C1549.63 -21.8626 1434.96 17.6397 1345.3 80.2961C1303.83 109.276 1249.85 124.108 1194.94 122.526C1187.9 122.323 1180.8 121.982 1173.67 121.64C1169.19 121.424 1164.7 121.208 1160.21 121.026L1180.65 32.4927C1045.17 -33.7697 900.311 13.2459 787.39 88.8312C735.17 123.79 666.939 141.324 597.343 138.788C588.425 138.463 579.424 137.968 570.393 137.472C530.346 135.271 489.719 133.038 453.146 145.421C452.967 145.481 452.788 145.542 452.609 145.603H-7.28641V247.53C-84.6775 208.075 -175.171 173.559 -284.469 181.799L-322 344.362L-7.28641 417.02V609.603C-7.28641 609.603 92.2136 652.603 242.214 653.603C295.348 653.957 351.557 643.018 414.862 630.698C516.99 610.823 637.587 587.354 793.543 601.906Z" fill="#2B3363"/>
    </symbol>
    <symbol id="hamburger" viewBox="0 0 70 35">
      <path d="M2.18744 4.50009H67.8124C69.0199 4.50009 69.9998 3.604 69.9998 2.50009C69.9998 1.39602 69.0197 0.500092 67.8124 0.500092H2.18744C0.979894 0.500092 0 1.39619 0 2.50009C0 3.604 0.980076 4.50009 2.18744 4.50009Z"/>
      <path d="M67.8124 15.8126H2.18744C0.979894 15.8126 0 16.7087 0 17.8126C0 18.9165 0.980076 19.8126 2.18744 19.8126H67.8124C69.0199 19.8126 69.9998 18.9165 69.9998 17.8126C69.9998 16.7087 69.0199 15.8126 67.8124 15.8126Z"/>
      <path d="M66.8183 31H3.18174C1.4253 31 0 31.8961 0 33C0 34.1041 1.42557 35 3.18174 35H66.8183C68.5747 35 70 34.1039 70 33C70.0003 31.8959 68.5747 31 66.8183 31Z"/>
    </symbol>
    <symbol id="close" viewBox="0 0 20 20">
      <path d="M11.7693 10.0002L19.6343 2.13513C20.123 1.6469 20.123 0.854719 19.6343 0.366487C19.1457 -0.122162 18.3544 -0.122162 17.8657 0.366487L10.0006 8.23157L2.13513 0.366487C1.64648 -0.122162 0.855136 -0.122162 0.366487 0.366487C-0.122162 0.854719 -0.122162 1.6469 0.366487 2.13513L8.23198 10.0002L0.366487 17.8653C-0.122162 18.3535 -0.122162 19.1457 0.366487 19.6339C0.610811 19.8778 0.931018 20 1.25081 20C1.5706 20 1.8908 19.8778 2.13513 19.6335L10.0006 11.7684L17.8657 19.6335C18.11 19.8778 18.4302 20 18.75 20C19.0698 20 19.39 19.8778 19.6343 19.6335C20.123 19.1453 20.123 18.3531 19.6343 17.8649L11.7693 10.0002Z"/>
    </symbol>
    <symbol id="star-empty" viewBox="0 0 101 97">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M16.141 41.4833C18.281 41.1503 21.38 40.6123 23.026 40.2873C24.673 39.9623 26.247 39.6923 26.524 39.6873C26.801 39.6823 28.587 39.3593 30.495 38.9703C32.402 38.5813 34.132 38.2553 34.339 38.2453C34.546 38.2353 35.585 37.5993 36.647 36.8323L38.578 35.4373L39.942 30.3793C41.277 25.4293 42.357 19.8333 43.252 13.2153L43.7 9.91332L44.322 11.3173C45.095 13.0633 48.201 19.0773 50.827 23.9113C51.918 25.9203 52.816 27.6743 52.822 27.8103C52.844 28.2703 56.538 33.6543 57.43 34.5253C58.665 35.7333 59.573 35.7983 64.017 34.9993C66.158 34.6133 70.958 34.0643 74.683 33.7763C83.387 33.1063 83.694 33.0703 88.576 32.1593C90.837 31.7373 92.752 31.4503 92.83 31.5223C92.91 31.5933 91.988 32.3973 90.783 33.3083C88.073 35.3553 81.882 40.7433 79.091 43.4853C77.944 44.6113 76.064 46.3793 74.912 47.4143C73.761 48.4493 71.914 50.3063 70.807 51.5413C68.965 53.5953 68.818 53.8733 69.069 54.8353C69.388 56.0533 70.784 58.5233 72.334 60.6123C73.561 62.2643 83.186 79.3113 83.005 79.5103C82.94 79.5813 82.216 79.3013 81.395 78.8873C78.496 77.4263 77.774 77.1043 70.986 74.2413C64.565 71.5343 58.168 69.0373 56.615 68.6313C56.241 68.5333 55.542 68.1293 55.061 67.7323C53.983 66.8423 52.354 66.7283 51.129 67.4563C50.111 68.0603 47.102 70.9603 40.816 77.3943C34.317 84.0463 30.444 87.9223 29.757 88.4633C29.016 89.0473 28.981 89.9093 30.089 80.2553C30.494 76.7273 31.058 70.8833 31.345 67.2673C31.631 63.6523 32.059 59.9293 32.297 58.9953C33.102 55.8243 32.874 55.0163 30.59 52.9473C29.475 51.9393 27.712 50.6113 26.671 49.9983C24.689 48.8293 23.739 48.3053 16.619 44.4523L12.25 42.0873L16.141 41.4833ZM20.188 51.1913C22.369 52.3063 27.916 55.6743 28.162 56.0333C28.265 56.1823 28.162 57.1963 27.934 58.2873C27.706 59.3783 27.331 62.7633 27.1 65.8113C26.253 77.0203 25.097 87.0693 24.222 90.8303C23.548 93.7303 23.627 94.7953 24.596 95.8413C26.168 97.5413 26.591 97.3793 30.013 93.7643C34.067 89.4833 36.235 87.3293 38.529 85.3053C39.553 84.4013 42.151 81.8453 44.303 79.6233C46.455 77.4013 48.942 74.9833 49.831 74.2493C50.72 73.5143 51.639 72.6143 51.874 72.2483C52.167 71.7913 52.527 71.6383 53.026 71.7593C53.424 71.8563 53.989 71.9793 54.28 72.0333C55.443 72.2483 63.808 75.3713 69.473 77.7053C70.037 77.9383 71.578 78.5473 72.895 79.0593C77.053 80.6753 80.334 82.1853 82.229 83.3553C83.238 83.9773 84.925 84.8583 85.976 85.3123C87.029 85.7663 87.98 86.3433 88.09 86.5943C88.406 87.3123 90.152 87.0843 90.361 86.2983C90.532 85.6553 89.206 82.2063 88.01 80.1813C87.692 79.6423 86.819 78.1723 86.07 76.9163C85.322 75.6583 82.769 71.2473 80.398 67.1123C78.027 62.9773 75.805 59.2293 75.46 58.7843C74.704 57.8083 73.275 55.3263 73.257 54.9563C73.234 54.4793 75.753 51.6583 77.257 50.4773C78.068 49.8403 79.552 48.4613 80.554 47.4113C81.557 46.3623 83.756 44.3173 85.442 42.8683C87.127 41.4183 89.019 39.7463 89.645 39.1523C90.956 37.9113 92.229 36.7873 94.204 35.1293C94.969 34.4873 96.538 33.1513 97.692 32.1603C98.845 31.1693 100.046 30.2043 100.36 30.0163C101.094 29.5773 101.03 27.7623 100.245 26.7483C99.7 26.0443 99.519 26.0173 97.455 26.3363C96.241 26.5233 95.076 26.8323 94.866 27.0213C94.655 27.2113 92.935 27.5853 91.043 27.8533C89.151 28.1203 86.178 28.5503 84.435 28.8093C82.693 29.0673 78.465 29.4873 75.039 29.7433C71.613 30.0003 66.967 30.4793 64.714 30.8083L60.618 31.4063L59.78 30.4623C58.879 29.4453 52.719 18.5913 52.689 17.9673C52.679 17.7613 52.456 17.4813 52.193 17.3463C51.802 17.1453 47.961 10.3783 47.936 9.84532C47.932 9.75932 47.606 9.06232 47.212 8.29532C46.817 7.52832 46.272 6.16532 45.999 5.26532C45.726 4.36532 44.954 2.93732 44.284 2.09132C43.247 0.784318 42.897 0.563318 41.943 0.608318C41.327 0.637318 40.73 0.828318 40.617 1.03132C40.505 1.23432 40.419 2.56032 40.428 3.97832C40.448 7.52632 39.167 17.7673 38.138 22.2813C37.989 22.9353 37.662 24.4623 37.412 25.6743C36.421 30.4813 35.655 33.8713 35.497 34.1563C35.406 34.3223 34.471 34.5913 33.419 34.7563C30.053 35.2833 22.869 36.5103 22.185 36.6743C18.841 37.4803 12.689 38.0123 8.48204 37.8603C5.93504 37.7683 3.68504 37.8083 3.48304 37.9493C3.28004 38.0903 2.86504 38.1773 2.56004 38.1423C1.85204 38.0603 0.667037 39.7053 0.715037 40.7043C0.755037 41.5503 2.02904 42.2643 9.47204 45.6103C11.76 46.6383 14.719 48.1173 16.049 48.8963C17.379 49.6743 19.242 50.7083 20.188 51.1913Z" fill="#E1C838"/>
    </symbol>
    <symbol id="star-full" viewBox="0 0 101 97">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M20.188 51.1913C22.369 52.3063 27.916 55.6743 28.162 56.0333C28.265 56.1823 28.162 57.1963 27.934 58.2873C27.706 59.3783 27.331 62.7633 27.1 65.8113C26.253 77.0203 25.097 87.0693 24.222 90.8303C23.548 93.7303 23.627 94.7953 24.596 95.8413C26.168 97.5413 26.591 97.3793 30.013 93.7643C34.067 89.4833 36.235 87.3293 38.529 85.3053C39.553 84.4013 42.151 81.8453 44.303 79.6233C46.455 77.4013 48.942 74.9833 49.831 74.2493C50.72 73.5143 51.639 72.6143 51.874 72.2483C52.167 71.7913 52.527 71.6383 53.026 71.7593C53.424 71.8563 53.989 71.9793 54.28 72.0333C55.443 72.2483 63.808 75.3713 69.473 77.7053C70.037 77.9383 71.578 78.5473 72.895 79.0593C77.053 80.6753 80.334 82.1853 82.229 83.3553C83.238 83.9773 84.925 84.8583 85.976 85.3123C87.029 85.7663 87.98 86.3433 88.09 86.5943C88.406 87.3123 90.152 87.0843 90.361 86.2983C90.532 85.6553 89.206 82.2063 88.01 80.1813C87.692 79.6423 86.819 78.1723 86.07 76.9163C85.322 75.6583 82.769 71.2473 80.398 67.1123C78.027 62.9773 75.805 59.2293 75.46 58.7843C74.704 57.8083 73.275 55.3263 73.257 54.9563C73.234 54.4793 75.753 51.6583 77.257 50.4773C78.068 49.8403 79.552 48.4613 80.554 47.4113C81.557 46.3623 83.756 44.3173 85.442 42.8683C87.127 41.4183 89.019 39.7463 89.645 39.1523C90.956 37.9113 92.229 36.7873 94.204 35.1293C94.969 34.4873 96.538 33.1513 97.692 32.1603C98.845 31.1693 100.046 30.2043 100.36 30.0163C101.094 29.5773 101.03 27.7623 100.245 26.7483C99.7 26.0443 99.519 26.0173 97.455 26.3363C96.241 26.5233 95.076 26.8323 94.866 27.0213C94.655 27.2113 92.935 27.5853 91.043 27.8533C89.151 28.1203 86.178 28.5503 84.435 28.8093C82.693 29.0673 78.465 29.4873 75.039 29.7433C71.613 30.0003 66.967 30.4793 64.714 30.8083L60.618 31.4063L59.78 30.4623C58.879 29.4453 52.719 18.5913 52.689 17.9673C52.679 17.7613 52.456 17.4813 52.193 17.3463C51.802 17.1453 47.961 10.3783 47.936 9.84532C47.932 9.75932 47.606 9.06232 47.212 8.29532C46.817 7.52832 46.272 6.16532 45.999 5.26532C45.726 4.36532 44.954 2.93732 44.284 2.09132C43.247 0.784318 42.897 0.563318 41.943 0.608318C41.327 0.637318 40.73 0.828318 40.617 1.03132C40.505 1.23432 40.419 2.56032 40.428 3.97832C40.448 7.52632 39.167 17.7673 38.138 22.2813C37.989 22.9353 37.662 24.4623 37.412 25.6743C36.421 30.4813 35.655 33.8713 35.497 34.1563C35.406 34.3223 34.471 34.5913 33.419 34.7563C30.053 35.2833 22.869 36.5103 22.185 36.6743C18.841 37.4803 12.689 38.0123 8.48204 37.8603C5.93504 37.7683 3.68504 37.8083 3.48304 37.9493C3.28004 38.0903 2.86504 38.1773 2.56004 38.1423C1.85204 38.0603 0.667037 39.7053 0.715037 40.7043C0.755037 41.5503 2.02904 42.2643 9.47204 45.6103C11.76 46.6383 14.719 48.1173 16.049 48.8963C17.379 49.6743 19.242 50.7083 20.188 51.1913Z" fill="#E1C838"/>
    </symbol>
    <symbol id="star-article" viewBox="0 0 49 57">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M47.6113 19.5561C46.9843 19.0631 46.3303 19.0691 40.8063 19.6181C36.0873 20.0851 34.1353 20.4201 32.2353 21.0891C29.2473 22.1401 27.6143 22.3251 27.5643 21.6171C27.5453 21.3401 27.6903 21.1031 27.8873 21.0891C28.0853 21.0761 27.9933 20.8441 27.6833 20.5761C27.3743 20.3061 27.0983 19.8341 27.0723 19.5261C27.0453 19.2171 26.6563 16.8711 26.2103 14.3141C25.7623 11.7561 25.2763 7.99409 25.1313 5.95409L24.8633 2.24509L23.4123 1.11509C22.6143 0.494094 21.8553 -0.00790569 21.7273 9.43071e-05C21.5983 0.0100943 21.3853 1.27109 21.2533 2.80209C21.0833 4.76309 20.6033 6.66309 19.6323 9.22009C18.8743 11.2181 18.0263 13.8531 17.7483 15.0751C16.3923 21.0211 16.0783 22.2521 15.9123 22.2641C15.6243 22.2851 10.1623 19.5761 9.48128 19.0751C9.13928 18.8241 8.86928 18.7291 8.87828 18.8651C8.88728 19.0001 8.34828 18.8241 7.68128 18.4731C6.98728 18.1091 6.07228 17.9091 5.54728 18.0061C4.74128 18.1571 4.64828 18.3021 4.80228 19.1741C5.00028 20.2851 5.07528 20.3971 9.09028 25.5101C10.6653 27.5141 11.9643 29.3231 11.9783 29.5301C11.9933 29.7371 11.0453 30.7921 9.87328 31.8751C6.92028 34.6021 2.13428 40.0691 0.212284 42.9131C-0.435716 43.8701 0.489284 45.1901 1.77728 45.1471C4.80528 45.0431 6.90028 44.2211 11.2613 41.4231L14.6473 39.2521L15.0823 40.9441C16.9613 48.2441 17.5593 51.1071 17.6773 53.3441C17.8613 56.8421 17.8203 56.7021 18.6763 56.7781C20.2173 56.9141 21.1633 56.2391 21.3013 54.9021C21.3733 54.2151 21.7943 52.5691 22.2353 51.2431C22.6773 49.9171 23.5453 47.0571 24.1643 44.8871C25.5873 39.8911 25.6793 39.7721 27.4303 40.7101C28.1743 41.1101 30.1113 42.0331 31.7343 42.7621C33.3573 43.4921 35.5463 44.4931 36.5973 44.9891C39.2413 46.2331 41.7113 45.9741 41.6043 44.4641C41.5483 43.6591 36.8953 37.4491 35.3443 36.1091C35.0033 35.8151 34.2003 34.9841 33.5583 34.2621L32.3923 32.9511L34.7063 31.1751C35.9783 30.1981 37.5233 29.0371 38.1393 28.5951C38.7573 28.1531 40.6983 26.7051 42.4553 25.3801C44.2113 24.0541 46.2633 22.5741 47.0153 22.0911C48.5113 21.1301 48.6843 20.3981 47.6113 19.5561Z" fill="#E1C838"/>
    </symbol>
  </svg>
</div>
