<div class="c-mail">
  <div class="container">
    <div class="row flex-column align-items-center">
      <div class="c-mail--title">Подпишитесь на нашу рассылку</div>
      <div class="c-mail--text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</div>
      <form action="" class="c-mail__form">
        <input type="email" placeholder="Введите email">
        <button type="submit" class="u-btn-main">отправить</button>
      </form>
    </div>

  </div>
</div>
