<section class="l-mail">
  <div class="container u-relative">
    <div class="row flex-column align-items-center">
      <h3 class="u-subtitle">{{ 'Sign up for our newsletter' | translateString('Newsletter - title') }}</h3>
      <div class="l-mail__text">{{ 'Newsletter subtitle text' | translateString('Newsletter - text') }}</div>
      <form action="" class="c-form" data-url="{{ 635 | localizeLinkById }}">
        <input type="email" placeholder="{{ 'Email' | translateString('Newsletter - email placeholder') }}" name="email" required>
        <button type="submit" class="u-btn-main">
          <span>{{ 'Send' | translateString('Newsletter - send') }}</span>
        </button>
      </form>
      <p class="l-mail__warning">{{ 'This mailbox is already signed.' | translateString('Newsletter - error signed') }}</p>
    </div>
  </div>
  <div class="l-mail__boy">
    <img class="" src="{{ site.theme.link }}/dev/images/boy.png">
  </div>
  <div class="l-mail__girl">
    <img class="" src="{{ site.theme.link }}/dev/images/girl.png">
  </div>
</section>
