<div class="l-modal-container">
  <svg width="20px" height="20px" class="l-modal-container__close">
    <use xlink:href="#close">
  </svg>
  <div id="mobile" class="c-modal">

    <div class="c-modal__menu">
      <nav class="menu">
        {% include "menu.twig" with {'menu': menu.get_items} %}
      </nav>
      <a href="{{ 254 | localizeLinkById }}" class="u-btn-main">
        <span>write to us</span>
      </a>
       <div class="c-social is-centered">
        <div class="row align-items-center">
          {{ widget_fixed }}
        </div>
      </div>
    </div>
  </div>
</div>
