<div class="c-post-content">
  <div class="is-dark">
    <div class="container u-container">

      <div class="row">

        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="c-post-content__content">{{ data.content }}</div>
        </div>

        {% if data.image %}
        <div class="col-lg-5 d-lg-block d-md-none d-sm-none d-none">
          <div class="c-post-content__image"><img src="{{ data.image | resize(720, 720) }}" alt=""></div>
        </div>
        {% endif %}

      </div>
      {% if data.image %}
        <div class="d-lg-none d-md-block d-sm-block d-none">
          <div class="c-post-content__image"><img src="{{ data.image | resize(500, 500) }}" alt=""></div>
        </div>
      {% endif %}
      {% if data.button.text %}
        <div class="c-post-content__button">
          {% if data.button.type == 'page' %}
            <a class="u-btn-main" href="{{ data.button.page.id | localizeLinkById }}"><span>{{ data.button.text }}</span></a>
          {% else %}
            <a class="u-btn-main" href="/{{ data.button.link }}"><span>{{ data.button.text }}</span></a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
