<div class="c-qoute">
  <p class="c-qoute__text">
    {{ 'I wonder,” he said, “whether the stars are set alight in heaven so that one day each one of us may find his own again...”' | translateString('Cite - text') }}
  </p>
  <p class="c-qoute__author">
    ― {{ 'Antoine de Saint-Exupéry, The Little Prince' | translateString('Cite - author') }}
  </p>
</div>
