{% if post.meta('hide_latest_in_post') != true %}
  {% for term in post.terms('category') %}
    {% if loop.index == 1 %}
      <h2>{{ 'Related posts' | translateString('Related block - title') }}</h2>
      <div class="row align-items-stretch">
        {% for child_post in term.posts(3) %}
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 p-single__col">
            {% include 'partial/blog-card-short.twig' with {'data': child_post} %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
