<div class="c-services-card">
  <img class="c-services-card__img" src="{{ function('get_the_post_thumbnail_url', data.ID, 'full') | resize(290, 134) }}" alt="">
  <div class="c-services-card__title">{{ data.post_title }}</div>
  <div class="c-services-card__text">{{ data.post_excerpt|striptags|truncate(20) }}</div>
  <a href="{{ data.ID | localizeLinkById }}" class="c-services-card__more">
    <span class="c-services-card__link">{{ 'Read more' | translateString('Services - button') }}</span>
    <svg width="20px" height="9px" class="c-services-card__svg">
      <use xlink:href="#more-arrow"></use>
    </svg>
  </a>
  <img class="c-services-card__bg" src="{{ site.theme.link }}/dev/images/services-card-bg.png" alt="">
</div>
