<section class="l-services js-services-wrap">
  <div class="container u-container u-relative">
    <div class="u-secondary-heading">{{ data.title }}</div>
    <p class="l-services__text">{{ data.subtitle }}</p>

    <div class="row l-services__row js-services">
      {% for item in data.items %}
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-4 l-services__col">
          {% include 'partial/services-cards.twig' with {'data': item} %}
        </div>
      {% endfor %}
    </div>

    <div class="c-dots-block js-services__dots"></div>

    <div class="c-arrows d-lg-none d-md-flex">
      <div class="c-arrows__prev">
        <svg width="9px" height="17px" class="c-arrows__svg js-services__prev">
          <use xlink:href="#arrow-prev"></use>
        </svg>
      </div>
      <div class="c-arrows__next">
        <svg width="9px" height="17px" class="c-arrows__svg js-services__next">
          <use xlink:href="#arrow-next"></use>
        </svg>
      </div>
    </div>
{#     <a href="{{ 10 | localizeCategoryLinkById }}" class="u-btn-main d-sm-none d-block ">
      <span>{{ 'All services' | translateString('Services - button all') }}</span>
    </a> #}
  </div>
</section>
