{% if (data.posts|length > 0) %}
<section class="l-testimonials js-testimonials-wrap">
  <div class="container d-flex flex-column u-relative">
    <div class="u-secondary-heading">{{ 'Testimonials' | translateString('Testimonials - title') }}</div>
    <div class="row js-testimonials">

      {% for item in data.posts %}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 l-testimonials__col">
          <div class="c-testimonials-card">
            <div class="c-testimonials-card__text">{{ item.post_content|convertYotubeLinkToIframe|truncate(40) }} </div>
              <a href="{{ function('get_permalink', item.ID) }}" class="c-services-card__more">
                <span class="c-services-card__link">{{ 'Read more' | translateString('Testimonial - read more button') }}</span>
                <svg width="20px" height="9px" class="c-services-card__svg">
                  <use xlink:href="#more-arrow"></use>
                </svg>
              </a>

            <div class="c-person">
              <div class="c-person__photo">
                <svg width="50px" height="50px" class="c-person__svg">
                  {% if item.meta.wpcr3_f1[0] == 'm' %}
                    <use xlink:href="#female-default"></use>
                  {% else %}
                    <use xlink:href="#male-default"></use>
                  {% endif %}
                </svg>
              </div>
              <div class="c-person__name">{{ item.meta.wpcr3_review_name[0] }}</div>
            </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="c-dots-block js-testimonials__dots"></div>
    <a href="{{ function('get_post_type_archive_link', 'wpcr3_review') }}" class="u-btn-main">
      <span>{{ 'All reviews' | translateString('Testimonials - button') }}</span>
    </a>
    <div class="c-arrows">
      <div class="c-arrows__prev js-testimonials__prev">
        <svg width="9px" height="17px" class="c-arrows__svg">
          <use xlink:href="#arrow-prev"></use>
        </svg>
      </div>
      <div class="c-arrows__next js-testimonials__next">
        <svg width="9px" height="17px" class="c-arrows__svg">
          <use xlink:href="#arrow-next"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
{% endif %}
