<a href="{{ data.ID | localizeLinkById }}">
  <div class="c-treat-card d-flex flex-column align-items-center">
      <div class="c-treat-card__icon">
        <img src="{{ function('get_the_post_thumbnail_url', data.ID, 'full') }}" alt="">
      </div>
      <div class="c-treat-card__text">
        <p>{{ data.post_title }}</p>
      </div>
  </div>
</a>
