<section class="l-welcome">
  <div class="u-wrapper">
    <div class="l-welcome__stars"></div>
    <div class="container d-flex flex-column u-container">
      <div class="u-subtitle">{{ data.title }}</div>
      <div class="l-welcome__text">
        {{ data.text }}
      </div>
      <div class="u-divider"></div>
      <div class="row l-welcome__row">
        {% for item in data.items %}
          {% if loop.index == 2 %}
            {% set col_size = 'col-xl-2 col-lg-2' %}
          {% else %}
            {% set col_size = 'col-xl-3 col-lg-3' %}
          {% endif %}

          <div class="{{ col_size }} col-md-4 col-sm-12 l-welcome__col">
            <div class="l-welcome__value">{{ item.number }}</div>
            <div class="l-welcome__label">{{ item.text }}</div>
          </div>
        {% endfor %}
      </div>
      <a href="{{ 197 | localizeLinkById }}" class="u-btn-main">
        <span>{{ function('get_the_title', 197) }}</span>
      </a>
    </div>
    <div class="l-welcome__svg">
      <svg width="100px" height="100px" class="is-star-empty" style="display: block;">
        <use xlink:href="#star-empty"></use>
      </svg>
      <svg width="100px" height="100px" class="is-star-full" style="display: none;">
        <use xlink:href="#star-full"></use>
      </svg>
    </div>
    <img src="{{ site.theme.link }}/dev/images/pregnant.png" alt="" class="l-welcome__bg">
  </div>
</section>
