<section class="l-why-us js-why-us-wrap">
  <div class="container u-container">
    <h2 class="u-secondary-heading">{{ data.title }}</h2>
    <div class="row l-why-us__row js-why-us">
      {% for item in data.items %}
        <div class=" l-why-us__col">
          {% if (item.link) %}
            {% set link = item.link %}
          {% elseif (item.category) %}
            {% set link = function('get_category_link', item.category.term_id) %}
          {% else %}
            {% set link = 'javascript:' %}
          {% endif %}
          <a href="{{ link }}">
            <img src="{{ item.picture.url }}" alt="">
            <p>{{ item.text }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="c-dots-block js-why-us__dots"></div>
  </div>
</section>
