<section class="l-write-to-us">
  <div class="u-wrapper">
    <div class="container u-relative">
      <div class="row">
        <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-xs-12 d-flex js-star-hover">
          {% include 'partial/quote.twig' %}
        </div>
        <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
          {% include 'partial/contact-form.twig' %}
        </div>
      </div>
    </div>

  <div class="l-write-to-us__img" >
    <svg width="100px" height="100px" class="is-star-empty">
      <use xlink:href="#star-empty"></use>
    </svg>
    <svg width="100px" height="100px" class="is-star-full">
      <use xlink:href="#star-full"></use>
    </svg>
    <img src="{{ site.theme.link }}/dev/images/big-boy.png" alt="" class="l-write-to-us__boy">
  </div>

  </div>
</section>
